Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms-docker-image, build-loader-docker-image, deploy-synonyms-to-cluster, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Path conditions:
  build-es-synonyms-docker-image: any of: data/synonyms/*
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.jso, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-cluster: any of: data/synonyms/all_*
  test-lint-build: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-brc4env: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-faidare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-public: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-private: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml

chore: upgrade to spring boot 2.7.5
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/SecurityConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/rare/RareDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisDocument.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/DocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/MockBucket.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/MockTermsAggregation.java
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: upgrade to gradle node plugin 3.4.0
  frontend/build.gradle.kts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: upgrade node, npm and yarn versions
  frontend/build.gradle.kts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Improve logging to have one log per source and correct misindexation on long IDs. GNP-6283
  scripts/harvestCI.sh
  scripts/index.sh
  scripts/to_bulk.jq
Due: build-loader-docker-image

chore: upgrade to Angular 15
  frontend/.browserslistrc
  frontend/angular.json
  frontend/package.json
  frontend/src/main.ts
  frontend/src/polyfills.ts
  frontend/src/test.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: add marked as an explicit dependency
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: use semantic messages for renovate
  .github/renovate.json5
Due: none

Add accessionHolder field to enable rare-basket. GNP-6271.
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
Due: build-loader-docker-image, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Update BRC4Env title, rename 'join us' in french properties.
  frontend/src/app/i18n/fr.json
  frontend/src/environments/environment.brc4env.ts
  frontend/src/environments/environment.rare.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Upgrade spring boot to solve aarch64 compatibility on macos
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-faidare

chore: bump to ng and cli v15.1
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Update How to join, Keep only english version. Removed TOC for the time being.
  .gitlab-ci.yml
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS-fr.md
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
  data/brapi-file-repo-example/germplasm.json
  data/brapi-file-repo-example/location.json
  data/brapi-file-repo-example/observationVariables.json
  data/brapi-file-repo-example/study.json
  data/brapi-file-repo-example/trial.json
  frontend/src/app/i18n/fr.json
  frontend/src/assets/faidare/join-en.md
  frontend/src/assets/faidare/join-fr.md
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Set 1 replica for production indices. DBA-1198.
  scripts/harvestCI.sh
Due: build-loader-docker-image

chore: format with prettier v2.8.3
  frontend/package.json
  frontend/src/app/ontology.service.ts
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Use default openstack tags for all jobs.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

fix(navbar): typo in aria-labelledby property
  frontend/src/app/navbar/navbar.component.html
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: remove useless exports
  frontend/cypress.config.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/faidare/ontology.model.ts
  frontend/src/app/faidare/tree/tree.service.ts
  frontend/src/app/i18n/i18n-testing.module.spec.ts
  frontend/src/app/models/pillar.model.ts
  frontend/src/app/rare/rare-document.model.ts
  frontend/src/app/urgi-common/basket/basket.service.ts
  frontend/src/environments/environment.brc4env.prod.ts
  frontend/src/environments/environment.faidare.prod.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.rare.prod.ts
  frontend/src/environments/environment.wheatis.prod.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Updating link to brapi.org. Adding Swagger link
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/navbar/navbar.component.html
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: lockfile updates
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: bump to ng and cli v15.2
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: add no-console eslint rule
  frontend/.eslintrc.json
  frontend/src/app/faidare/faidare-document/faidare-document.component.ts
  frontend/src/main.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: enable renovate for circleci
  .github/renovate.json5
Due: none

Update documentation scripts/createSuggestions.sh, scripts/index.sh
  scripts/createSuggestions.sh
  scripts/index.sh
Due: build-loader-docker-image

fix(navbar): label and style
  frontend/src/app/urgi-common/basket/basket/basket.component.html
  frontend/src/environments/environment.rare.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Fix docker image to use JDK11. GNP-6342.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Fix SonarQube analysis. GNP-6342.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private
