Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms-docker-image, build-loader-docker-image, deploy-synonyms-to-cluster, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Path conditions:
  build-es-synonyms-docker-image: any of: data/synonyms/*
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.jso, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-cluster: any of: data/synonyms/all_*
  test-lint-build: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-brc4env: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-faidare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-public: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-private: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml

Enable config-server restart. GNP-6140
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Fix prod deployment consistency. GNP-6140.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Fix config server restart ssh user.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Add restart-config-server as a need for deploying any app. GNP-6140.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Do not force pre-build jobs when unnecessary. GNP-6140.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Enable merge request pipeline only. GNP-6140 See https://docs.gitlab.com/ee/ci/yaml/workflow.html#workflowrules-templates
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Typo
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Rework all rules. GNP-6140.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Add puzzled comment. SKIP_DEPLOY
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

fix: index private suggestions for faidare only
  scripts/harvestCI.sh
Due: build-loader-docker-image

Increase ES version and update docker file using Ubuntu image as a basis.
  .circleci/config.yml
  .gitlab-ci.yml
  data/synonyms/Dockerfile
  docker.env
Due: build-es-synonyms-docker-image, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Remove docker image push with ES tag (not built).
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Use docker-synonyms image with image tag instead of ES version.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Make deploy-synonym docker image being triggered at each push for test-lint-build jobs can succeed.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Fix lint error
  frontend/src/app/wheatis/wheatis-header/wheatis-header.component.html
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Add missing URL for test.
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Add missing deps for WheatIS. GNP-6140.
  frontend/src/assets/wheatis/theme.scss
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Fix WheatIS app name.
  frontend/src/environments/environment.wheatis.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Re-add wheatis/brc4env filtering on indexing process lost during rebase.
  scripts/harvestCI.sh
Due: build-loader-docker-image

fix: accuracy of holding institute
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: bump to angular and cli v14.2.0
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Add WheatIS logo in addition to Wheat Initiative's logo. GNP-6081.
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.spec.ts
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/assets/wheatis/logo-2.png
  frontend/src/assets/wheatis/logo.160x90.png
  frontend/src/assets/wheatis/logo.png
  frontend/src/assets/wheatis/theme.scss
  frontend/src/environments/environment.brc4env.ts
  frontend/src/environments/environment.faidare.ts
  frontend/src/environments/environment.model.ts
  frontend/src/environments/environment.rare.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.wheatis.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Update NEWS-WHEATIS.md
  NEWS-WHEATIS.md
Due: none

Update RARe and BRC4ENV theme
  frontend/angular.json
  frontend/src/assets/brc4env/favicon.ico
  frontend/src/assets/brc4env/logo.png
  frontend/src/assets/brc4env/theme.scss
  frontend/src/assets/rare/favicon.ico
  frontend/src/assets/rare/logo.png
  frontend/src/assets/rare/theme.scss
  scripts/createSuggestions.sh
Due: build-loader-docker-image, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Rename germplasm list to collection, add a tooltip
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/large-aggregation/large-aggregation.component.html
  frontend/src/app/small-aggregation/small-aggregation.component.html
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

remove quotes from IF statements.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Allow deploy on staging when master branch is involved.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Fix FAIDARE public/private ports.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Fix Openstack users.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

fix: navbar test should not rely on internal ngbCollapse state
  frontend/src/app/navbar/navbar.component.spec.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

Allow app deployment when changing markdown files.
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: remove deprecated tilde in scss imports
  frontend/src/assets/brc4env/theme.scss
  frontend/src/assets/faidare/theme.scss
  frontend/src/assets/rare/theme.scss
  frontend/src/assets/wheatis/theme.scss
  frontend/src/custom-bootstrap.scss
  frontend/src/styles.scss
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: enable angular extended diagnostics
  frontend/src/app/rare/rare-document/rare-document.component.html
  frontend/tsconfig.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: remove node types
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private

chore: skip lfs checkout on circleci
  .circleci/config.yml
Due: none

chore: upgrade to gradle 7.5.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

chore: upgrade to spring cloud 2021.0.4
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-faidare
