Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms, test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

build-es-synonyms:
  image: docker:19.03.1
  stage: build-es-synonyms
  services:
  - docker:19.03.1-dind
  script:
  - if [ "$CI_COMMIT_BRANCH" == "master" ]; then IMAGE_TAG="latest"; fi
  - cd data/synonyms
  ...

test:
  stage: test
  services:
  - name: registry.forgemia.inra.fr/urgi-is/data-discovery/elasticsearch-synonyms:${IMAGE_TAG}
    alias: elasticsearch
    command:
    - /bin/sh
    - -c
  ...

build-rare:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

build-wheatis:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

build-data-discovery:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

deploy-rare-to-beta:
  variables:
    ENV: beta
    APP_NAME: rare
    APP_PORT: ${BETA_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_DEV_HOST}
    ES_HOSTS: ${ES_DEV_HOSTS}
    ES_PORT: ${ES_DEV_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-rare-to-staging:
  variables:
    ENV: staging
    APP_NAME: rare
    APP_PORT: ${STAGING_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_DEV_HOST}
    ES_HOSTS: ${ES_DEV_HOSTS}
    ES_PORT: ${ES_DEV_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-rare-to-prod:
  variables:
    ENV: prod
    APP_NAME: rare
    APP_PORT: ${PROD_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_PROD_HOST}
    ES_HOSTS: ${ES_PROD_HOSTS}
    ES_PORT: ${ES_PROD_PORT}
    APP_CONTEXT: ${APP_NAME}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-wheatis-to-beta:
  variables:
    ENV: beta
    APP_NAME: wheatis
    APP_PORT: ${BETA_WHEATIS_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_DEV_HOST}
    ES_HOSTS: ${ES_DEV_HOSTS}
    ES_PORT: ${ES_DEV_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

fix minor typo in synonyms test
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Add should Highlight Synonyms In Description test. GNP-5742
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

minor changes. GNP-5742
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/data-discovery/WheatisGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/DocumentIndexSettings.java
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/data-discovery/settings.json
  scripts/createIndexAndAliases4CI.sh
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Fix failed tests. GNP-5742
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/DocumentIndexSettings.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

separated rare settings.json file from wheatis. GNP-5742
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/rare/RareGeneticResource.mapping.json
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/rare/settings.json
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/wheatis/settings.json
  scripts/createIndexAndAliases4CI.sh
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Add symbolic link in gitlab-ci to solve Couldn't follow symbolic link error. GNP-5742
  .gitlab-ci.yml
Due: none

fix typos. GNP-5742
  .gitlab-ci.yml
Due: none

Revert "minor changes. GNP-5742"
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/data-discovery/WheatisGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/DocumentIndexSettings.java
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/data-discovery/settings.json
  scripts/createIndexAndAliases4CI.sh
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Remove MAPPING_PARTIAL_PATH in favor of symbolic link. GNP-5711.
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/data-discovery
  scripts/createIndexAndAliases4CI.sh
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

fix symbolic link. GNP-5742
  scripts/createIndexAndAliases4CI.sh
Due: none

Add data handling expliciting how to skip data at clone time.
  README.md
Due: none

Fix markdown lint issues.
  README.md
Due: none

Update harvesting scripts to be usable with new index.sh wrapper.
  CONTRIBUTING.MD
  README.md
  scripts/createIndexAndAliases.sh
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/harvestDataDiscovery.sh
  scripts/harvestRare.sh
  scripts/harvestWheatis.sh
  scripts/index.sh
Due: none

Fix documentation and options parsing.
  README.md
  scripts/index.sh
Due: none

add build-es-synonyms docker image to gitlab-ci. GNP-5742
  .gitlab-ci.yml
Due: none

Add synonyms dockerfile. GNP-5742
  data/synonyms/Dockerfile
Due: build-es-synonyms, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

add default elasticsearch version to dockerfile. GNP-5742
  data/synonyms/Dockerfile
Due: build-es-synonyms, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Add should Highlight Synonyms In Description test. GNP-5742
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

minor change in Dockerfile. GNP-5742
  data/synonyms/Dockerfile
Due: build-es-synonyms, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

set docker image tag depending on branch.GNP-5742
  .gitlab-ci.yml
  data/synonyms/Dockerfile
Due: build-es-synonyms, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

fix IMAGE_TAG
  .gitlab-ci.yml
Due: none

Revert "minor changes. GNP-5742"
  scripts/createIndexAndAliases4CI.sh
Due: none

Remove MAPPING_PARTIAL_PATH in favor of symbolic link. GNP-5711.
  scripts/createIndexAndAliases4CI.sh
Due: none

Use branch name for pushing docker image (at build step), to be the same as in the next job (at test step)
  .gitlab-ci.yml
Due: none

Add CI job for deploying synonyms files to Elasticsearch clusters.
  .gitlab-ci.yml
Due: none

Fix synonyms config dir.
  .gitlab-ci.yml
Due: none

Fix synonyms config dir move.
  .gitlab-ci.yml
Due: none

Remove optional identifier field if present. Fix name type.
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/data-discovery
  scripts/to_bulk.jq
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Remove deprecated genetic resources files.
  data/data-discovery/z_transplant_genetic_resources.json.gz
  data/wheatis/z_wheat_filtered_transplant_genetic_resources.json.gz
Due: data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Path conditions:
  build-es-synonyms: any of: data/synonyms/*
  test: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-staging: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-prod: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-wheatis-beta: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-staging: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-prod: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-data-discovery-beta: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-staging: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-prod: any of: data/data-discovery/*.json.gz, data/synonyms/*
