Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-loader-docker-image, deploy-synonyms-to-cluster, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

Path conditions:
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.json, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-cluster: any of: data/synonyms/all_*
  test-lint-build: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  build-rare: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-brc4env: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-wheatis: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-faidare: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  deploy-rare-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-public: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-private: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-prod-public: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-prod-private: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml

chore: group renovate updates
  .github/renovate.json5
Due: none

chore: exclude typescript minor updates in renovate
  .github/renovate.json5
Due: none

build: extract node and pnpm versions from package.json
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/frontend/versions.kt
  frontend/build.gradle.kts
  frontend/package.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore(deps): update dependency typescript to v5.8.2
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

ci: work around permission issues on gitlab
  frontend/build.gradle.kts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

ci: work around permission issues on gitlab
  .gitlab-ci.yml
  frontend/build.gradle.kts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

build: fix generateGitProperties plugin
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-faidare

fix: fix issue with faidare sorting
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/ElasticSearchConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix: workaround for cli issue
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  frontend/angular.json
  frontend/e2e/about.spec.ts
  frontend/e2e/home.spec.ts
  frontend/playwright.config.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix: remove old spring-data properties and custom bean, and add workaround for spring-data-elesticsearch bug
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/ElasticSearchConfig.java
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix: avoid circular dependencies with environment
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/navbar/navbar.component.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

feat: add map to faidare results
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/documents/documents.component.html
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/faidare/faidare-map/faidare-map-container.component.html
  frontend/src/app/faidare/faidare-map/faidare-map-container.component.scss
  frontend/src/app/faidare/faidare-map/faidare-map-container.component.ts
  frontend/src/app/faidare/faidare-map/map/faidare-map.component.html
  frontend/src/app/faidare/faidare-map/map/faidare-map.component.scss
  frontend/src/app/faidare/faidare-map/map/faidare-map.component.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/urgi-common/generic-map/generic-map.component.html
  frontend/src/app/urgi-common/generic-map/generic-map.component.scss
  frontend/src/app/urgi-common/generic-map/generic-map.component.ts
  frontend/src/assets/faidare/marker-icon-blue.png
  frontend/src/environments/environment.brc4env.ts
  frontend/src/environments/environment.faidare.ts
  frontend/src/environments/environment.model.ts
  frontend/src/environments/environment.rare.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.wheatis.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

feat: enrich map marker popup
  README.md
  frontend/src/app/faidare/faidare-map/map/faidare-map.component.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

feat: use clusters for markers in map
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/faidare/faidare-map/map/faidare-map.component.scss
  frontend/src/app/faidare/faidare-map/map/faidare-map.component.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

feat: include geographic locations in the faidare document
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/GeographicLocation.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocumentTest.java
  frontend/src/app/faidare/faidare-document.model.ts
  frontend/src/app/faidare/faidare-map/faidare-map-container.component.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: add FIXME to avoid forgetting to remove the fake coordinates
  frontend/src/app/faidare/faidare-map/faidare-map-container.component.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

Index GeographicLocations field on faidare
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/GeographicLocationDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocumentTest.java
Due: build-loader-docker-image, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

Use existing Location document
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/GeographicLocationDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/Location.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/rare/RareDocument.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocumentTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/rare/RareDocumentTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerDocTest.java
Due: build-loader-docker-image, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

feat: adapt frontend model to changes done on the backend for faidare geographic locations
  frontend/src/app/faidare/faidare-document.model.ts
  frontend/src/app/faidare/faidare-map/faidare-map-container.component.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: update spring cloud version
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-faidare

chore: update to angular 20
  frontend/angular.json
  frontend/karma.conf.cjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/download.service.ts
  frontend/src/app/search-state.service.ts
  frontend/src/app/search.service.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/test.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix: rework component replacements to avoid failing forward refs in tests
  frontend/angular.json
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/urgi-common/generic-document-list/generic-document-list.component.ts
  frontend/src/app/urgi-common/generic-map-container/generic-map-container.component.html
  frontend/src/app/urgi-common/generic-map-container/generic-map-container.component.scss
  frontend/src/app/urgi-common/generic-map-container/generic-map-container.component.ts
  frontend/src/environments/basket.actual.ts
  frontend/src/environments/basket.default.ts
  frontend/src/environments/document-list.default.ts
  frontend/src/environments/document-list.faidare.ts
  frontend/src/environments/document.default.ts
  frontend/src/environments/document.faidare.ts
  frontend/src/environments/document.rare.ts
  frontend/src/environments/environment.brc4env.ts
  frontend/src/environments/environment.faidare.ts
  frontend/src/environments/environment.model.ts
  frontend/src/environments/environment.rare.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.wheatis.ts
  frontend/src/environments/footer.default.ts
  frontend/src/environments/footer.faidare.ts
  frontend/src/environments/header.default.ts
  frontend/src/environments/header.faidare.ts
  frontend/src/environments/header.wheatis.ts
  frontend/src/environments/map-container.default.ts
  frontend/src/environments/map-container.faidare.ts
  frontend/src/environments/ontology-aggregation.default.ts
  frontend/src/environments/ontology-aggregation.faidare.ts
  frontend/src/environments/select-all-results.actual.ts
  frontend/src/environments/select-all-results.default.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: add e2e files in tsconfig.spec.json includes so that they are linted
  frontend/tsconfig.spec.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: refine ts config, fix environment bug and use latest ngx-speculoos
  frontend/angular.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private
