Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms-docker-image, build-loader-docker-image, deploy-synonyms-to-prod-cluster-proxmox, deploy-synonyms-to-dev-cluster-openstack, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

Path conditions:
  build-es-synonyms-docker-image: any of: data/synonyms/*
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.jso, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-prod-cluster-proxmox: any of: data/synonyms/all_*
  deploy-synonyms-to-dev-cluster-openstack: any of: data/synonyms/all_*
  test-and-sonarqube: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  lint: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-brc4env: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-proxmox: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-brc4env-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-wheatis-beta-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-staging-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-proxmox: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-beta-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-staging-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-proxmox: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*

chore: reintroduce fixme to test the tree until ontology data are available
  frontend/src/app/ontology.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: use observableVariableIds field
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareAggregation.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocumentTest.java
  frontend/src/app/ontology.service.ts
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

docs: add lint in readme
  frontend/README.md
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

refactor: replace angular animations
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/search/search.component.html
  frontend/src/app/search/search.component.scss
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/search/search.component.ts
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: hide aggregation with only NULL bucket
  frontend/cypress/integration/home.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.html
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/small-aggregation/small-aggregation.component.html
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat(faidare): footer
  frontend/src/app/app.component.html
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.html
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.scss
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.spec.ts
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.ts
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/assets/faidare/elixir-logo.png
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: implement germplasm export on the backend
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/faidare/FaidareConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/faidare/FaidareProperties.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/faidare/FaidareQualifier.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoCustom.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/ExportController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/FaidareApiService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/GermplasmExportCommand.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/GermplasmExportableField.java
  backend/src/main/resources/application.yml
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/germplasm/ExportControllerTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/germplasm/api/FaidareApiServiceTest.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: add missing news markdown page
  frontend/src/assets/faidare/news-en.md
  frontend/src/assets/faidare/news-fr.md
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: implement germplasm result table (no sort yet)
  frontend/src/app/faidare/faidare-document.model.ts
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.html
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.scss
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/environments/environment.faidare.prod.ts
  frontend/src/environments/environment.faidare.ts
  frontend/src/environments/environment.model.ts
  frontend/src/environments/environment.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: implement sorting of search results on the backend
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/SortAnalyzer.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareSort.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareSortAnalyzer.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareSortAnalyzer.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisSortAnalyzer.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/search/SearchController.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/IndexFilterTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareSortAnalyzerTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerDocTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerTest.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: limit number of selected observation variable IDs
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.html
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.spec.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: add germplasmList aggregation to faidare
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareAggregation.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: add accessionNumber to faidare document and germplasm result list
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  frontend/src/app/faidare/faidare-document.model.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.html
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: fix germplasm entry type
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/ExportController.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/germplasm/ExportControllerTest.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: search descendants
  frontend/src/app/aggregations/aggregations.component.html
  frontend/src/app/aggregations/aggregations.component.spec.ts
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.html
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.spec.ts
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.ts
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: germplasm tab
  frontend/src/app/data-discovery-ngb.module.ts
  frontend/src/app/documents/documents.component.html
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.html
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.scss
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.spec.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.ts
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/app/generic-document-list/generic-document-list.component.html
  frontend/src/app/generic-document-list/generic-document-list.component.scss
  frontend/src/app/generic-document-list/generic-document-list.component.spec.ts
  frontend/src/app/generic-document-list/generic-document-list.component.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/markdown-page/markdown-page.component.scss
  frontend/src/app/rare/rare.module.ts
  frontend/src/app/search/search.component.html
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/search/search.component.ts
  frontend/src/app/urgi-common/urgi-common.module.ts
  frontend/src/assets/faidare/theme.scss
  frontend/src/custom-bootstrap.scss
  frontend/src/styles.scss
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: use mocha-style reporter for tests
  frontend/karma.conf.js
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

test: fix warning in test
  frontend/src/app/generic-document-list/generic-document-list.component.spec.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: implement export on the frontend
  frontend/src/app/download.service.ts
  frontend/src/app/faidare/export.service.spec.ts
  frontend/src/app/faidare/export.service.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.html
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: export germplasm results on the frontend
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.spec.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.html
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

data: update faidare data
  data/faidare/datadiscovery-1.json.gz
  data/faidare/datadiscovery-17.json.gz
Due: none

feat: sort germplasms on the frontend
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareSort.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.spec.ts
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.html
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.ts
  frontend/src/app/faidare/germplasm-results/sortable-header/sortable-header.component.html
  frontend/src/app/faidare/germplasm-results/sortable-header/sortable-header.component.scss
  frontend/src/app/faidare/germplasm-results/sortable-header/sortable-header.component.ts
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: refactor search and disable entry aggregation when germplasm tab is selected
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/DocumentDaoCustom.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/search/SearchController.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerTest.java
  frontend/src/app/aggregations/aggregations.component.html
  frontend/src/app/aggregations/aggregations.component.spec.ts
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/src/app/documents/documents.component.html
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/faidare/export.service.spec.ts
  frontend/src/app/faidare/export.service.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.html
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.spec.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.ts
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.html
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.html
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.ts
  frontend/src/app/faidare/germplasm-results/sortable-header/sortable-header.component.html
  frontend/src/app/faidare/germplasm-results/sortable-header/sortable-header.component.ts
  frontend/src/app/generic-document-list/generic-document-list.component.html
  frontend/src/app/generic-document-list/generic-document-list.component.spec.ts
  frontend/src/app/generic-document-list/generic-document-list.component.ts
  frontend/src/app/large-aggregation/large-aggregation.component.html
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/loading-skeleton/loading-skeleton.component.spec.ts
  frontend/src/app/loading-skeleton/loading-skeleton.component.ts
  frontend/src/app/models/test-model-generators.ts
  frontend/src/app/search-state.service.spec.ts
  frontend/src/app/search-state.service.ts
  frontend/src/app/search.service.spec.ts
  frontend/src/app/search.service.ts
  frontend/src/app/search/search.component.html
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/search/search.component.ts
  frontend/src/app/small-aggregation/small-aggregation.component.html
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: fix issues detected by code review
  backend/src/main/java/fr/inra/urgi/datadiscovery/search/SearchController.java
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.html
  frontend/src/app/search-state.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

refactor: import from rxjs
  frontend/src/app/app.component.ts
  frontend/src/app/data-discovery-ngb.module.ts
  frontend/src/app/error-interceptor.service.ts
  frontend/src/app/error/error.component.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/faidare/tree/tree.component.ts
  frontend/src/app/faidare/tree/tree.service.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/markdown-page/markdown-page.component.scss
  frontend/src/app/ontology.service.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.ts
  frontend/src/app/search.service.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/custom-bootstrap.scss
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: add back base href for production configuration
  frontend/angular.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: fix service to get main aggregations
  frontend/src/app/models/page.ts
  frontend/src/app/search.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: change delay for loaders
  frontend/src/app/search-state.service.spec.ts
  frontend/src/app/search-state.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

build: set the active profile in the jar at build time
  backend/build.gradle.kts
  backend/src/main/resources/application.yml
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: tests
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerDocTest.java
  frontend/cypress/integration/home.spec.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: fix configuration of other apps than faidare so that they still build
  frontend/src/app/rare/rare.module.ts
  frontend/src/app/urgi-common/generic-footer/generic-footer.component.html
  frontend/src/app/urgi-common/generic-footer/generic-footer.component.scss
  frontend/src/app/urgi-common/generic-footer/generic-footer.component.ts
  frontend/src/app/urgi-common/generic-ontology-aggregation/generic-ontology-aggregation.component.ts
  frontend/src/app/urgi-common/urgi-common.module.ts
  frontend/src/app/wheatis/wheatis.module.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Handle groupId with default value 0. GNP-5564.
  scripts/to_bulk.jq
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

feat: implement plant material export in addition to mcpd one
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/ExportController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/FaidareApiService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/GermplasmExportableField.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/GermplasmMcpdExportCommand.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/GermplasmMcpdExportableField.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/germplasm/ExportControllerTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/germplasm/api/FaidareApiServiceTest.java
  frontend/src/app/faidare/export.service.spec.ts
  frontend/src/app/faidare/export.service.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.html
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.ts
  frontend/src/app/i18n/en.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: flaky test + wrong change detection
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: filter out faidare documents which are not accessible
  Dockerfile
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/SecurityConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareAuthenticationFilter.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareCurrentUser.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareFilterConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareUser.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareUserGroupsClient.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareUserGroupsProperties.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareUserManager.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareAuthenticationFilterTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareUserGroupsClientTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareUserManagerTest.java
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: fix model creation and sharing
  frontend/src/app/search-state.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: move variable xref and avoid displaying links for xref when they are not URLs
  frontend/src/app/faidare/node-details/node-details.component.html
  frontend/src/app/faidare/node-details/node-details.component.spec.ts
  frontend/src/app/faidare/node-details/node-details.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: bumm com.gorylenko.gradle-git-properties to v2.3.2
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-data-discovery

chore: bump ng and cli to v13
  frontend/.gitignore
  frontend/package.json
  frontend/src/polyfills.ts
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Fix indexing process for BRC4env. GNP-5999 #83.
  scripts/harvestCI.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack
