Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Path conditions:
  test: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, frontend/**/*
  build-wheatis: any of: backend/src/**/*, frontend/**/*
  build-gnpis: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-gnpis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-gnpis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-gnpis-to-prod: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta: any of: data/**/*.json.gz
  data-integration-rare-staging: any of: data/**/*.json.gz
  data-integration-rare-prod: any of: data/**/*.json.gz
  data-integration-wheatis-beta: any of: data/**/*.json.gz
  data-integration-wheatis-staging: any of: data/**/*.json.gz
  data-integration-wheatis-prod: any of: data/**/*.json.gz
  data-integration-gnpis-beta: any of: data/**/*.json.gz
  data-integration-gnpis-staging: any of: data/**/*.json.gz
  data-integration-gnpis-prod: any of: data/**/*.json.gz

Update ABOUT.md
  ABOUT.md
Due: none

Add Home page link.
  frontend/src/environments/environment.data-discovery.prod.ts
  frontend/src/environments/environment.data-discovery.ts
  frontend/src/environments/environment.wheatis.prod.ts
  frontend/src/environments/environment.wheatis.ts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Fix test
  frontend/src/app/navbar/navbar.component.spec.ts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Update HOW-TO-JOIN-RARe-FEDERATION.md
  HOW-TO-JOIN-RARe-FEDERATION.md
Due: none

Update HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Fix potential bugs from FindBugs.
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/harvest/AbstractHarvester.java
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Add lint step in Gitlab CI and fix lint issues.
  .gitlab-ci.yml
  frontend/src/app/app.module.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/markdown-page/markdown-page.component.html
  frontend/src/app/markdown-page/markdown-page.component.spec.ts
  frontend/src/app/markdown-page/markdown-page.component.ts
  frontend/src/app/pillars/pillars.component.ts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Add dependency for lint task to yarn install
  frontend/build.gradle.kts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Fix lint test in error.
  frontend/build.gradle.kts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Rework static content. Remove useless linefeeds.
  HELP.md
  HOW-TO-JOIN-RARe-FEDERATION.md
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
  LEGAL-MENTIONS.md
Due: none

Fix app port in documentation.
  frontend/README.md
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Configure CI to download git LFS files only when needed.
  .gitlab-ci.yml
Due: none

Use gradle task instead of yarn directly for CI.
  .gitlab-ci.yml
Due: none

Upgrade Gradle to 5.4.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Update LEGAL-MENTIONS.md
  LEGAL-MENTIONS.md
Due: none

Remove HTML from placeHolder since it is not interpreted.
  frontend/src/environments/environment.rare.prod.ts
  frontend/src/environments/environment.rare.ts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Fix Gitlab LFS data fetching.
  .gitlab-ci.yml
Due: none

Use rsync instead of scp for data integration.
  .gitlab-ci.yml
Due: none

Add a Hide button at the top of description.
  frontend/src/app/truncatable-description/truncatable-description.component.html
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

updated knetminer wheat and arabido data.
  data/data-discovery/knetminer_wheat_ara_genes_20190620.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Fixed null URLs
  data/data-discovery/knetminer_wheat_ara_genes_20190624.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Added Arabido and Triticum to data-discovery in separated files
  data/data-discovery/knet_arabidopsis_thaliana_20190701.json.gz
  data/data-discovery/knet_triticum_aestivum_20190701.json.gz
  data/data-discovery/knetminer_wheat_ara_genes_20190620.json.gz
  data/data-discovery/knetminer_wheat_ara_genes_20190624.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

added Knet wheat file to wheatis data directory
  data/wheatis/knet_triticum_aestivum_20190701.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Add missing Elasticsearch params for WheatIS production data integration job. GNP-5494.
  .gitlab-ci.yml
Due: none

Add potentiel missing errors reported at harvest step. GNP-5494.
  backend/src/main/java/fr/inra/urgi/datadiscovery/harvest/AbstractHarvester.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/harvest/AsyncHarvester.java
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Remame false duplicate.
  data/rare/rare_pilier-microbien_cirm-levure.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Correct CIRM Levure URLs.
  data/rare/rare_pilier-microbien_cirm-levure.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Try to regenerate rare_pilier-microbien_cirm-levure.json zip file.
  data/rare/rare_pilier-microbien_cirm-levure.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Correct false duplicates.
  data/rare/rare_pilier-plante_siregal.json
Due: none

Replace gnpis-core URL by FAIDARE.
  data/rare/rare_pilier-foret.json
  data/rare/rare_pilier-plante_siregal.json
Due: none

Compress files.
  data/rare/rare_pilier-foret.json
  data/rare/rare_pilier-foret.json.gz
  data/rare/rare_pilier-plante_siregal.json
  data/rare/rare_pilier-plante_siregal.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Update elasticsearch version to 6.6.0
  backend/build.gradle.kts
  docker-compose.yml
Due: none

Declare pipeline on index creation. GNP-5494.
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings.json
  scripts/createIndexAndAliases4CI.sh
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Let Elasticsearch handling suggestion.
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisGeneticResource.mapping.json
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Avoid description field to be copied as is in suggestions field. GNP-5494.
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisGeneticResource.mapping.json
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Fix tests for using new ingest pipeline. GNP-5494.
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/DocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Prevent dockerized ES to start if the plugin cannot be installed.
  docker-compose.yml
Due: none

Try to install ingest plugin on ES service startup. GNP-5494.
  .gitlab-ci.yml
Due: none

UPdate RARe mapping to copy most field into suggestions field. GNP-5494.
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/rare/RareGeneticResource.mapping.json
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod
