Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-loader-docker-image, deploy-synonyms-to-cluster, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

build-loader-docker-image:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/docker-git:latest
  stage: pre-build
  services:
  - docker:20.10.6-dind
  script:
  - docker build -t registry.forgemia.inra.fr/urgi-is/docker-rare/data-discovery-loader:${IMAGE_TAG} .
  ...

deploy-synonyms-to-cluster:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/bash-git-lfs:latest
  stage: pre-build
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${ES_SSH_PRIVATE_KEY}")
  - git lfs pull -I "data/synonyms"
  ...

test-lint-build:
  stage: test
  services:
  - name: registry.forgemia.inra.fr/urgi-is/data-discovery/elasticsearch-synonyms:${IMAGE_TAG}
    alias: elasticsearch
    command:
    - /bin/sh
    - -c
  ...

build-rare:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 6 months
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-brc4env:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 6 months
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-wheatis:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 6 months
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-faidare:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 6 months
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

deploy-rare-to-beta:
  variables:
    ENV: beta
    APP_NAME: rare
    APP_PORT: ${BETA_RARE_PORT}
    SERVICE_NAME: ${APP_NAME}
    SERVER_IP: ${SERVER_IP_OPENSTACK_DEV}
    SERVER_USER: ${SERVER_USER_CENTOS_OPENSTACK}
    ES_HOST: ${ES_HOST_OPENSTACK}
    ES_HOSTS: ${ES_HOSTS_OPENSTACK}
    ES_PORT: ${ES_PORT}
  tags:
  - openstack
  retry: 2
  ...

deploy-rare-to-staging:
  variables:
    ENV: staging
    APP_NAME: rare
    APP_PORT: ${STAGING_RARE_PORT}
    SERVICE_NAME: ${APP_NAME}
    SERVER_IP: ${SERVER_IP_OPENSTACK_DEV}
    SERVER_USER: ${SERVER_USER_CENTOS_OPENSTACK}
    ES_HOST: ${ES_HOST_OPENSTACK}
    ES_HOSTS: ${ES_HOSTS_OPENSTACK}
    ES_PORT: ${ES_PORT}
  tags:
  - openstack
  ...

Improve performances using all CPU available.
  scripts/createSuggestions.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: build-loader-docker-image

Delete eula-en.md
  ~/frontend/src/assets/faidare/eula-en.md
Due: none

Update eula-en.md
  frontend/src/assets/faidare/eula-en.md
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

Eula-fr
  frontend/src/assets/faidare/eula-fr.md
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

Eula-en correct
  frontend/src/assets/faidare/eula-en.md
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

Eula-en
  ~/frontend/src/assets/faidare/eula-en.md
Due: none

chore: upgrade to Angular and CLI 17
  frontend/angular.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: use the application builder
  backend/build.gradle.kts
  frontend/angular.json
  frontend/src/styles.scss
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix: fix the i18n translation loader (and rename it)
  frontend/src/app/i18n/i18n.ts
  frontend/src/app/i18n/module-translate-loader.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: upgrade ng-bootstrap
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

doc: add todo comment in styles
  frontend/src/styles.scss
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix: change marked options
  frontend/src/app/markdown-page/markdown-page.component.spec.ts
  frontend/src/app/markdown-page/markdown-page.component.ts
  frontend/src/app/markdown.ts
  frontend/src/main.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

refactor: use styleUrl instead of styleUrls
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.ts
  frontend/src/app/document-count/document-count.component.ts
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/error/error.component.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.ts
  frontend/src/app/faidare/faidare-document/faidare-document.component.ts
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.ts
  frontend/src/app/faidare/faidare-header/faidare-header.component.ts
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.ts
  frontend/src/app/faidare/germplasm-results/sortable-header/sortable-header.component.ts
  frontend/src/app/faidare/node-details/node-details.component.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/faidare/ontology-node-type/ontology-node-type.component.ts
  frontend/src/app/faidare/tree/node/node.component.ts
  frontend/src/app/faidare/tree/tree.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/loading-skeleton/loading-skeleton.component.ts
  frontend/src/app/markdown-page/markdown-page.component.ts
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/pillars/pillars.component.ts
  frontend/src/app/rare/rare-document/rare-document.component.ts
  frontend/src/app/rare/rare-header/rare-header.component.ts
  frontend/src/app/search/search.component.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
  frontend/src/app/truncatable-description/truncatable-description.component.ts
  frontend/src/app/urgi-common/basket/basket/basket.component.ts
  frontend/src/app/urgi-common/basket/select-all-results/select-all-results.component.ts
  frontend/src/app/urgi-common/generic-basket/generic-basket.component.ts
  frontend/src/app/urgi-common/generic-document-list/generic-document-list.component.ts
  frontend/src/app/urgi-common/generic-document/generic-document.component.ts
  frontend/src/app/urgi-common/generic-footer/generic-footer.component.ts
  frontend/src/app/urgi-common/generic-ontology-aggregation/generic-ontology-aggregation.component.ts
  frontend/src/app/urgi-common/generic-select-all-results/generic-select-all-results.component.ts
  frontend/src/app/wheatis/wheatis-header/wheatis-header.component.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

feat: use view transition
  frontend/src/main.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: use older sonarqube plugin
  build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-faidare

chore: bump sonarqube to v4.4.1.3373
  build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-faidare

fix: markdown providers
  frontend/src/app/markdown.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: upgrade Spring Boot and Spring Cloud
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-faidare

build: remove usage of deprecated buildDir
  backend/build.gradle.kts
  frontend/build.gradle.kts
  frontend/package.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: bump nodejs version to v18.19
  frontend/build.gradle.kts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: bump to ng and cli v17.1
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: bump typescript to v5.3
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: remove analyze task
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: disabled sonar task
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

Path conditions:
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.json, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-cluster: any of: data/synonyms/all_*
  test-lint-build: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  build-rare: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-brc4env: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-wheatis: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-faidare: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  deploy-rare-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-public: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-private: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-prod-public: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-prod-private: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
