Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms-docker-image, build-loader-docker-image, deploy-synonyms-to-prod-cluster-proxmox, deploy-synonyms-to-dev-cluster-openstack, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

Path conditions:
  build-es-synonyms-docker-image: any of: data/synonyms/*
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.jso, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-prod-cluster-proxmox: any of: data/synonyms/all_*
  deploy-synonyms-to-dev-cluster-openstack: any of: data/synonyms/all_*
  test-and-sonarqube: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  lint: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-brc4env: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-proxmox: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-brc4env-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-wheatis-beta-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-staging-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-proxmox: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-beta-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-staging-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-proxmox: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*

fix(deps): update angular monorepo to v13.3.3
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update all non-major dependencies
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update dependency @types/jasmine to v4.0.3
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update angular monorepo to v13.3.4
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update angular monorepo to v13.3.5
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update angular-cli monorepo to v13.3.4
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: upgrade to spring boot 2.6.7
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-data-discovery

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to v12.1.0
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: increase of search depth
  scripts/createSuggestions.sh
  scripts/harvestCI.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

feat: change data folder in gitlab ci
  .gitlab-ci.yml
Due: test-and-sonarqube

feat: rename indexes and aliases - GNP-6143
  backend/src/main/resources/application.yml
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

feat: create private suggestions - first version
  scripts/createSuggestions.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

fix: correct translation - GNP-6208
  frontend/src/app/i18n/fr.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: align index prefix
  backend/src/main/resources/application.yml
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

fix: refactor suggestion index creation
  scripts/createIndexAndAliases4CI.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

feat: generate card url - first version - GNP-6233
  scripts/harvestCI.sh
  scripts/link_card.jq
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

fix: correct url
  scripts/harvestCI.sh
  scripts/link_card.jq
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

Rename faidare into faidare-search. GNP-6129
  backend/src/main/resources/application.yml
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: correct syntax
  scripts/harvestCI.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

chore(deps): update angular-cli monorepo to v13.3.5
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update angular monorepo to v13.3.6
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update all non-major dependencies
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack
