Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

test:
  stage: test
  services:
  - name: docker.elastic.co/elasticsearch/elasticsearch:6.5.4
    alias: elasticsearch
    command:
    - bin/elasticsearch
    - -Ediscovery.type=single-node
  script: ./gradlew --parallel test
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: pull-push
    paths:
    - .gradle
  ...

build-rare:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

build-wheatis:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

build-data-discovery:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

deploy-rare-to-beta:
  variables:
    ENV: beta
    APP_NAME: rare
    APP_PORT: ${BETA_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_DEV_HOST}
    ES_PORT: ${ES_DEV_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-rare-to-staging:
  variables:
    ENV: staging
    APP_NAME: rare
    APP_PORT: ${STAGING_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_PROD_HOST}
    ES_PORT: ${ES_PROD_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-rare-to-prod:
  variables:
    ENV: prod
    APP_NAME: rare
    APP_PORT: ${PROD_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_PROD_HOST}
    ES_PORT: ${ES_PROD_PORT}
    APP_CONTEXT: ${APP_NAME}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-wheatis-to-beta:
  variables:
    ENV: beta
    APP_NAME: wheatis
    APP_PORT: ${BETA_WHEATIS_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_DEV_HOST}
    ES_PORT: ${ES_DEV_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-wheatis-to-staging:
  variables:
    ENV: staging
    APP_NAME: wheatis
    APP_PORT: ${STAGING_WHEATIS_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_PROD_HOST}
    ES_PORT: ${ES_PROD_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

Fix tests. Remove deprecated aggregation boolean from search. GNP-5671.
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/DocumentDaoCustom.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/SearchDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/search/SearchController.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerDocTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerTest.java
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Move ES cnofig for staging env towards ES dev cluster. GNP-5494.
  .gitlab-ci.yml
Due: none

Fix name display for Wheat and DataDiscovery: add explicit name field in WheatisDocument. GNP-5745.
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisDocument.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisDocumentTest.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Fix missing ES_HOSTS variable initialization. GNP-5745.
  scripts/harvestCI.sh
Due: none

Consolidate /api calls: /api/documents changed to /api/search,etc. See SearchController.java merge request thread line 74 fix GNP-5671
  backend/src/main/java/fr/inra/urgi/datadiscovery/search/SearchController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/search/SuggestionController.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerDocTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SuggestionControllerDocTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SuggestionControllerTest.java
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/src/app/search.service.spec.ts
  frontend/src/app/search.service.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Code cleaning fix GNP-5671
  frontend/src/app/search.service.ts
  frontend/src/app/search/search.component.spec.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Enabling Skeleton on page change, aggregation change. Behavior consistency for robust route, url and new search triggers.fix GNP-5671
  frontend/src/app/loading-spinner/loading-spinner.component.spec.ts
  frontend/src/app/search/search.component.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Enable source map for front end debuging in development profile only (data-discovery)
  frontend/angular.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Skeleton hides aggregation/facets and results when trigered .fix GNP-5671
  frontend/src/app/aggregations/aggregations.component.html
  frontend/src/app/search/search.component.html
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Improved skeleton look and feel.fix GNP-5671
  frontend/src/app/aggregations/aggregations.component.html
  frontend/src/app/loading-skeleton/loading-skeleton.component.scss
  frontend/src/app/loading-skeleton/loading-skeleton.component.ts
  frontend/src/app/search/search.component.html
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Update the documentation. ng test doesn't work, yarn test does
  frontend/README.md
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Fix frontend tests
  frontend/src/app/aggregations/aggregations.component.spec.ts
  frontend/src/app/loading-spinner/loading-spinner.component.spec.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Fix frontend tests
  frontend/src/app/search.service.spec.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Update gitlab ci to index with new switching strategy. GNP-5564. GNP-5475.
  .gitlab-ci.yml
Due: none

Change permission of scripts.
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: none

Increase the default ILM policy for DataDiscovery, even if it is disabled atm.
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/data-discovery_policy.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Add GnpIS genetic resources file with FAIDARE URL instead of deprecated GnpIS-core.
  data/data-discovery/z_transplant_genetic_resources.csv.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Correctly handle errors on parallel sub processes. GNP-5564.
  scripts/harvestCI.sh
Due: none

Implement index switch to avoid downtime at indexing time.
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: none

Add data with good FAIDARE link for DD and WheatIS.
  data/data-discovery/z_transplant_genetic_resources.csv.json.gz
  data/wheatis/z_wheat_filtered_transplant_genetic_resources.csv.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Clean readme.
  README.md
Due: none

Removal of index deletion prior to any indexing process.
  .gitlab-ci.yml
Due: none

Fix node.
  data/data-discovery/z_transplant_genetic_resources.csv.json.gz
  data/data-discovery/z_transplant_genetic_resources.json.gz
  data/wheatis/z_wheat_filtered_transplant_genetic_resources.csv.json.gz
  data/wheatis/z_wheat_filtered_transplant_genetic_resources.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Add custom _id in bulk header. GNP-5564.
  scripts/to_bulk.jq
Due: none

Remove any existing index related to app and env when switching alias.
  scripts/harvestCI.sh
Due: none

dependencies_minor_upgrade
  README.md
  frontend/package.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Code cleaning. fix #49
  frontend/src/app/loading-skeleton/loading-skeleton.component.ts
  frontend/src/app/loading-spinner/loading-spinner.component.scss
  frontend/src/app/loading-spinner/loading-spinner.component.spec.ts
  frontend/src/app/loading-spinner/loading-spinner.component.ts
  frontend/src/app/search/search.component.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Trigger only search skeleton when filtering using the aggregations. fix #49
  frontend/src/app/search/search.component.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Remove comment
  frontend/build.gradle.kts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Node version update hint
  frontend/build.gradle.kts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

More concise code. #49
  frontend/src/app/loading-skeleton/loading-skeleton.component.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Fix lint.
  frontend/src/app/loading-skeleton/loading-skeleton.component.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Path conditions:
  test: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, frontend/**/*
  build-wheatis: any of: backend/src/**/*, frontend/**/*
  build-data-discovery: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta: any of: data/**/*.json.gz
  data-integration-rare-staging: any of: data/**/*.json.gz
  data-integration-rare-prod: any of: data/**/*.json.gz
  data-integration-wheatis-beta: any of: data/**/*.json.gz
  data-integration-wheatis-staging: any of: data/**/*.json.gz
  data-integration-wheatis-prod: any of: data/**/*.json.gz
  data-integration-data-discovery-beta: any of: data/**/*.json.gz
  data-integration-data-discovery-staging: any of: data/**/*.json.gz
  data-integration-data-discovery-prod: any of: data/**/*.json.gz
