Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-loader-docker-image, deploy-synonyms-to-cluster, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

build-loader-docker-image:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/docker-git:latest
  stage: pre-build
  services:
  - docker:20.10.6-dind
  script:
  - docker build -t registry.forgemia.inra.fr/urgi-is/docker-rare/data-discovery-loader:${IMAGE_TAG} .
  ...

deploy-synonyms-to-cluster:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/bash-git-lfs:latest
  stage: pre-build
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${ES_SSH_PRIVATE_KEY}")
  - git lfs pull -I "data/synonyms"
  ...

test-lint-build:
  stage: test
  services:
  - name: registry.forgemia.inra.fr/urgi-is/data-discovery/elasticsearch-synonyms:${IMAGE_TAG}
    alias: elasticsearch
    command:
    - /bin/sh
    - -c
  ...

build-rare:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 6 months
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-brc4env:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 6 months
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-wheatis:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 6 months
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-faidare:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 6 months
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

deploy-rare-to-beta:
  variables:
    ENV: beta
    APP_NAME: rare
    APP_PORT: ${BETA_RARE_PORT}
    SERVICE_NAME: ${APP_NAME}
    SERVER_IP: ${SERVER_IP_OPENSTACK_DEV}
    SERVER_USER: ${SERVER_USER_CENTOS_OPENSTACK}
    ES_HOST: ${ES_HOST_OPENSTACK}
    ES_HOSTS: ${ES_HOSTS_OPENSTACK}
    ES_PORT: ${ES_PORT}
  tags:
  - openstack
  retry: 2
  ...

deploy-rare-to-staging:
  variables:
    ENV: staging
    APP_NAME: rare
    APP_PORT: ${STAGING_RARE_PORT}
    SERVICE_NAME: ${APP_NAME}
    SERVER_IP: ${SERVER_IP_OPENSTACK_DEV}
    SERVER_USER: ${SERVER_USER_CENTOS_OPENSTACK}
    ES_HOST: ${ES_HOST_OPENSTACK}
    ES_HOSTS: ${ES_HOSTS_OPENSTACK}
    ES_PORT: ${ES_PORT}
  tags:
  - openstack
  ...

Add creation of a log with last indexing informations. GNP-6338
  scripts/harvestCI.sh
Due: build-loader-docker-image

Add full text find by germplasm, collection, trait names
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  data/faidare/data/datadiscovery-1.json.gz
Due: build-loader-docker-image, test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: use node v18
  frontend/build.gradle.kts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix(faidare): better type for templateRef in node component
  frontend/src/app/faidare/tree/node/node.component.ts
  frontend/src/app/faidare/tree/tree.component.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: bump to ng and cli v16
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: enable only minor updates in renovate for elasticsearch
  .github/renovate.json5
Due: none

Add suggestion generation in index.sh script.
  scripts/createSuggestions.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: build-loader-docker-image

Feat/add sources list
  SOURCES-FAIDARE-WheatIS.md
  SOURCES-RARe.md
Due: none

chore: enable renovate lockfile maintenance
  .github/renovate.json5
Due: none

chore: bump to bootstrap v5.3
  frontend/package.json
  frontend/src/app/document-count/document-count.component.html
  frontend/src/app/documents/documents.component.html
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.html
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.html
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/small-aggregation/small-aggregation.component.html
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/src/app/urgi-common/basket/basket/basket.component.html
  frontend/src/assets/brc4env/theme.scss
  frontend/src/assets/faidare/theme.scss
  frontend/src/assets/rare/theme.scss
  frontend/src/assets/wheatis/theme.scss
  frontend/src/styles.scss
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: bump to ng and cli v16.1
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

feat: inline the navbar items of the "more" menu
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.spec.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

ci: upgrade to images to use Java 17
  .circleci/config.yml
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

doc: update versions in README
  README.md
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/DocumentIndexSettings.java
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: enable renovate for the backend as well
  .github/renovate.json5
  .gitlab-ci.yml
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix: fix color of wheatis navbar items
  frontend/src/assets/wheatis/theme.scss
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: remove @types/marked
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: use recommended config for deprecation lint plugin
  frontend/.eslintrc.json
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: bump to ng and cli v16.2
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

chore: bump to TS v5.1
  frontend/package.json
  frontend/yarn.lock
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

fix(header): proper title for rare app
  frontend/src/app/rare/rare-header/rare-header.component.spec.ts
  frontend/src/app/rare/rare-header/rare-header.component.ts
  frontend/src/environments/environment.model.ts
Due: test-lint-build, build-rare, build-brc4env, build-wheatis, build-faidare, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-brc4env-to-beta, deploy-brc4env-to-staging, deploy-brc4env-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-faidare-to-beta, deploy-faidare-to-staging-public, deploy-faidare-to-staging-private, deploy-faidare-to-prod-public, deploy-faidare-to-prod-private

Path conditions:
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.json, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-cluster: any of: data/synonyms/all_*
  test-lint-build: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  build-rare: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-brc4env: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-wheatis: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  build-faidare: any of: ./*.md, backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env, .gitlab-ci.yml
  deploy-rare-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-rare-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-brc4env-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-staging: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-wheatis-to-prod: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-beta: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-public: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-staging-private: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-prod-public: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-faidare-to-prod-private: any of: ./*.md, backend/src/build.gradle.kts, backend/src/**/*, frontend/**/*, .gitlab-ci.yml
