Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms, test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Path conditions:
  build-es-synonyms: any of: data/synonyms/*
  test: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-staging: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-prod: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-wheatis-beta: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-staging: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-prod: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-data-discovery-beta: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-staging: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-prod: any of: data/data-discovery/*.json.gz, data/synonyms/*

Run lint job only on source code updates.
  .gitlab-ci.yml
Due: none

WIP: Add brc4env-epcoll test file.
  data/rare/rare_pilier-environment_brc4env-epcoll.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod

Add production version of EP-Coll data.
  data/rare/rare_pilier-environment_brc4env-epcoll.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod

Handle case when name or identifier are numbers.
  scripts/to_bulk.jq
Due: none

Add prod data for brc4env-epcoll. Correct bad encoding in all sources and update suggestions.
  data/rare/rare_pilier-animal_crb-anim.json.gz
  data/rare/rare_pilier-environment_brc4env-cbgp.json.gz
  data/rare/rare_pilier-environment_brc4env-cbgp.utf8.json.gz
  data/rare/rare_pilier-environment_brc4env-colisa.json.gz
  data/rare/rare_pilier-environment_brc4env-colisa.utf8.json.gz
  data/rare/rare_pilier-environment_brc4env-epcoll.json.gz
  data/rare/rare_pilier-environment_brc4env-epcoll.utf8.json.gz
  data/rare/rare_pilier-environment_brc4env-tcc.json.gz
  data/rare/rare_pilier-environment_brc4env-tcc.utf8.json.gz
  data/rare/rare_pilier-foret.json.gz
  data/rare/rare_pilier-microbien_cirm-bia.json.gz
  data/rare/rare_pilier-microbien_cirm-bia.utf8.json.gz
  data/rare/rare_pilier-microbien_cirm-bp.json.gz
  data/rare/rare_pilier-microbien_cirm-bp.utf8.json.gz
  data/rare/rare_pilier-microbien_cirm-cf.json.gz
  data/rare/rare_pilier-microbien_cirm-cf.utf8.json.gz
  data/rare/rare_pilier-microbien_cirm-cfbp.json.gz
  data/rare/rare_pilier-microbien_cirm-levure.json.gz
  data/rare/rare_pilier-microbien_cirm-levure.utf8.json.gz
  data/rare/rare_pilier-plante_cnrgv.json.gz
  data/rare/rare_pilier-plante_cnrgv.utf8.json.gz
  data/rare/rare_pilier-plante_florilege.json.gz
  data/rare/rare_pilier-plante_florilege.utf8.json.gz
  data/rare/rare_pilier-plante_siregal.json.gz
  data/rare/suggestions/bulk_1.gz
  data/rare/suggestions/bulk_2.gz
  data/rare/suggestions/bulk_3.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod

Add a check on JQ processing.
  scripts/harvestCI.sh
Due: none

Generate RARe suggestions.
  data/rare/suggestions/bulk_1.gz
  data/rare/suggestions/bulk_2.gz
  data/rare/suggestions/bulk_3.gz
Due: none

Delete identifier field from bulk docs.
  scripts/to_bulk.jq
Due: none

Fix Elasticsearch curl error handling.
  scripts/createIndexAndAliases4CI.sh
Due: none

Improve output format.
  scripts/createIndexAndAliases4CI.sh
Due: none

Reduce indexing pressure.
  scripts/harvestCI.sh
Due: none

Update GrainGenes data with 3407 new QTL, 58 genetic maps.
  data/data-discovery/GrainGenes_unfiltered_AoEwNmQ5ZDZiZTk4YTI1ODAxZA.json.gz
  data/data-discovery/GrainGenes_unfiltered_AoEwODA4OTg1NzI5YTVjMWYwOA.json.gz
  data/data-discovery/GrainGenes_unfiltered_AoEwZGIxYTMzZTcyMTU2ODg0Mw.json.gz
  data/data-discovery/GrainGenes_unfiltered_AoEwZmZmYWVhM2I4N2ZjNjAwMA.json.gz
  data/data-discovery/GrainGenes_unfiltered_AoEwZmZmZTFmNzRlMjY3OTVkOQ.json.gz
  data/wheatis/GrainGenes_wheat_filtered_AoEwNmQ5ZDZiZTk4YTI1ODAxZA.json.gz
  data/wheatis/GrainGenes_wheat_filtered_AoEwODA4OTg1NzI5YTVjMWYwOA.json.gz
  data/wheatis/GrainGenes_wheat_filtered_AoEwZGIxYTMzZTcyMTU2ODg0Mw.json.gz
  data/wheatis/GrainGenes_wheat_filtered_AoEwZmZmYWVhM2I4N2ZjNjAwMA.json.gz
  data/wheatis/GrainGenes_wheat_filtered_AoEwZmZmZTFmNzRlMjY3OTVkOQ.json.gz
Due: data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

fix: remove failing postinstall on macOS
  frontend/package.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: migrate to ng and cli v9
  frontend/angular.json
  frontend/package.json
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/tsconfig.app.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: use exact versions
  frontend/package.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: activate strictTemplates
  frontend/src/app/documents/documents.component.html
  frontend/src/app/large-aggregation/large-aggregation.component.html
  frontend/src/app/markdown-page/markdown-page.component.html
  frontend/src/app/navbar/navbar.component.html
  frontend/tsconfig.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: migrate TestBed.get to TestBed.inject
  frontend/src/app/error-interceptor.service.spec.ts
  frontend/src/app/error/error.component.spec.ts
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/pillar.service.spec.ts
  frontend/src/app/pillars/pillars.component.spec.ts
  frontend/src/app/search.service.spec.ts
  frontend/src/app/search/search.component.spec.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: fix linter config
  frontend/src/app/error-interceptor.service.spec.ts
  frontend/src/app/error-interceptor.service.ts
  frontend/tslint.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: add angular/localize
  frontend/package.json
  frontend/src/polyfills.ts
  frontend/tslint.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

fix: replace non-breaking spaces
  frontend/src/app/document-count/document-count.component.spec.ts
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/pillars/pillars.component.spec.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

fix: max error bundle sizes
  frontend/angular.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: make index script compatible for macOS users
  README.md
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: none

Improve shell portability.
  scripts/createIndexAndAliases.sh
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/harvestDataDiscovery.sh
  scripts/harvestRare.sh
  scripts/harvestWheatis.sh
  scripts/index.sh
Due: none

fix: make find work on macOS
  scripts/harvestCI.sh
Due: none

Configure CI to run on Openstack for DataDiscovery beta & staging environments.
  .gitlab-ci.yml
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/rare/settings.json
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  scripts/index.sh
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Update RARe BRC4env Colisa data.
  data/rare/rare_pilier-environment_brc4env-colisa.utf8.json.gz
  data/rare/rare_pilier-environment_brc4env-colisa_2020-03-23-15-17-57.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod

Update Colisa country of origin/collect
  data/rare/rare_pilier-environment_brc4env-colisa_2020-03-23-15-17-57.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod

Add requirements section in the README.
  README.md
Due: none

Add test section in CONTRIBUTING.md. Fix retrospective#26
  CONTRIBUTING.MD
Due: none

Typo
  CONTRIBUTING.MD
Due: none

chore: bump ng to v9.1.0
  frontend/package.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: bump cli to v9.1.0
  frontend/package.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: bump tslint to v6.1.1
  frontend/package.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: bump ng-bootstrap to v6.0.2
  frontend/package.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod
