Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Path conditions:
  test: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, frontend/**/*
  build-wheatis: any of: backend/src/**/*, frontend/**/*
  build-gnpis: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-gnpis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-gnpis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-gnpis-to-prod: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta: any of: data/**/*.json.gz
  data-integration-rare-staging: any of: data/**/*.json.gz
  data-integration-rare-prod: any of: data/**/*.json.gz
  data-integration-wheatis-beta: any of: data/**/*.json.gz
  data-integration-wheatis-staging: any of: data/**/*.json.gz
  data-integration-wheatis-prod: any of: data/**/*.json.gz
  data-integration-gnpis-beta: any of: data/**/*.json.gz
  data-integration-gnpis-staging: any of: data/**/*.json.gz
  data-integration-gnpis-prod: any of: data/**/*.json.gz

Give the rights to bootapp for the copied data files.
  .gitlab-ci.yml
Due: none

Remove a bad test and add a warning when JSON files are not copied.
  scripts/harvestCI.sh
Due: none

Correct badly named options
  scripts/createIndexAndAliases4CI.sh
Due: none

chore: Update .gitlab-ci.yml to use Systemd service.
  .gitlab-ci.yml
Due: none

fix: Fix gnpis application context path.
  .gitlab-ci.yml
  README.md
  backend/src/main/resources/application.yml
  frontend/angular.json
  frontend/proxy.conf.js
  scripts/harvestCI.sh
  scripts/harvestGnpis.sh
  scripts/harvestRare.sh
  scripts/harvestWheatis.sh
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

fix: Fix gnpis elasticsearch prefix. Fix harvest script error message.
  README.md
  backend/src/main/resources/application.yml
  scripts/harvestCI.sh
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Add production data for CIRM BIA
  data/rare/rare_pilier-microbien_cirm-bia.json.gz
  data/rare/rare_pilier-plante_florilege.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Update prod data for CRB-Anim.
  data/rare/rare_pilier-animal_crb-anim.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Remove '-prod' suffix in application name for prod environments. GNP-5442.
  .gitlab-ci.yml
Due: none

Fix indexing after changing the context path, check the MR descritption for more details.
  backend/src/main/resources/application.yml
  scripts/createIndexAndAliases.sh
  scripts/createIndexAndAliases4CI.sh
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

fix: changed APP_HOST and APP_PORT to ES_HOST/ES_PORT
  scripts/createIndexAndAliases4CI.sh
Due: none

refactor: created a shared module for wheatis and gnpis documents. GNP-5448
  frontend/src/app/gnpis/gnpis-document.model.ts
  frontend/src/app/gnpis/gnpis-document/gnpis-document.component.ts
  frontend/src/app/gnpis/gnpis.module.ts
  frontend/src/app/models/test-model-generators.ts
  frontend/src/app/wheatis-gnpis/wheatis-gnpis-document.model.ts
  frontend/src/app/wheatis-gnpis/wheatis-gnpis-document/wheatis-gnpis-document.component.html
  frontend/src/app/wheatis-gnpis/wheatis-gnpis-document/wheatis-gnpis-document.component.scss
  frontend/src/app/wheatis-gnpis/wheatis-gnpis-document/wheatis-gnpis-document.component.spec.ts
  frontend/src/app/wheatis-gnpis/wheatis-gnpis-document/wheatis-gnpis-document.component.ts
  frontend/src/app/wheatis-gnpis/wheatis-gnpis.module.ts
  frontend/src/app/wheatis/wheatis-document/wheatis-document.component.html
  frontend/src/app/wheatis/wheatis-document/wheatis-document.component.scss
  frontend/src/app/wheatis/wheatis-document/wheatis-document.component.spec.ts
  frontend/src/app/wheatis/wheatis-document/wheatis-document.component.ts
  frontend/src/app/wheatis/wheatis.module.ts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

refactor: Fixed Lint errors. GNP-5448
  frontend/src/app/gnpis/gnpis.module.ts
  frontend/src/app/wheatis-gnpis/wheatis-gnpis.module.ts
  frontend/src/app/wheatis/wheatis.module.ts
  frontend/src/environments/environment.wheatis.prod.ts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

refector: Moved wheatis-gnpis-document shared module to urgi-common dir and renamed it to generic-document
  frontend/src/app/gnpis/gnpis.module.ts
  frontend/src/app/models/test-model-generators.ts
  frontend/src/app/urgi-common/generic-document.model.ts
  frontend/src/app/urgi-common/generic-document/generic-document.component.html
  frontend/src/app/urgi-common/generic-document/generic-document.component.scss
  frontend/src/app/urgi-common/generic-document/generic-document.component.spec.ts
  frontend/src/app/urgi-common/generic-document/generic-document.component.ts
  frontend/src/app/urgi-common/urgi-common.module.ts
  frontend/src/app/wheatis-gnpis/wheatis-gnpis-document/wheatis-gnpis-document.component.ts
  frontend/src/app/wheatis-gnpis/wheatis-gnpis.module.ts
  frontend/src/app/wheatis/wheatis.module.ts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

refactor: renaming test function. GNP-5448
  frontend/src/app/models/test-model-generators.ts
  frontend/src/app/urgi-common/generic-document/generic-document.component.spec.ts
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

refactor: edited ReadMe. GNP-5448
  README.md
Due: none

added new KNetMiner data. GNP-5581
  data/gnpis/knetminer_wheat_genes_20190416.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-gnpis-beta, data-integration-gnpis-staging, data-integration-gnpis-prod

Create how to join federation guide. GNP-5494.
  HOW-TO-JOIN.md
Due: none

Update HOW-TO-JOIN.md
  HOW-TO-JOIN.md
Due: none

Add urgi-contact email address.
  HOW-TO-JOIN.md
Due: none

Add link to HOW-TO-JOIN in the README. GNP-5494.
  HOW-TO-JOIN.md
  README.md
Due: none

Code review fixes.
  HOW-TO-JOIN.md
  README.md
Due: none

Add missing node description.
  HOW-TO-JOIN.md
Due: none

Allow species being a JSON string.
  HOW-TO-JOIN.md
Due: none

Add explicit note on open access status of provided data.
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Add RARe guidelines template. Rename How TO files to match their communities.
  HOW-TO-JOIN-RARe-FEDERATION.md
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
  README.md
Due: none

Update Phenotype example. Rephrase some text. GNP-5494.
  HOW-TO-JOIN-RARe-FEDERATION.md
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Rename all occurences of gnpis by data-discovery. GNP-5494.
  .gitlab-ci.yml
  README.md
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/AppProfile.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisAggregationAnalyzer.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDao.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/harvest/wheatis/WheatisHarvester.java
  backend/src/main/resources/application.yml
  buildSrc/src/main/kotlin/app.kt
  frontend/angular.json
  frontend/package.json
  frontend/src/app/data-discovery/data-discovery-header/data-discovery-header.component.html
  frontend/src/app/data-discovery/data-discovery-header/data-discovery-header.component.scss
  frontend/src/app/data-discovery/data-discovery-header/data-discovery-header.component.spec.ts
  frontend/src/app/data-discovery/data-discovery-header/data-discovery-header.component.ts
  frontend/src/app/data-discovery/data-discovery.module.ts
  frontend/src/app/gnpis/gnpis-header/gnpis-header.component.ts
  frontend/src/app/urgi-common/generic-document/generic-document.component.spec.ts
  frontend/src/assets/data-discovery/band.jpg
  frontend/src/assets/data-discovery/favicon.ico
  frontend/src/assets/data-discovery/logo.png
  frontend/src/assets/data-discovery/theme.scss
  frontend/src/environments/environment.data-discovery.prod.ts
  frontend/src/environments/environment.data-discovery.ts
  scripts/createIndexAndAliases.sh
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/harvestDataDiscovery.sh
Due: test, build-rare, build-wheatis, build-gnpis, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-gnpis-to-beta, deploy-gnpis-to-staging, deploy-gnpis-to-prod

Change NGS to Sequence.
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Remove trailing spaces.
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Update mailto's subject.
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Add other experiment types. GNP-5494
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Remove references to CSV
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Fix titles numeration.
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Improve description of initiator projects.
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none
