Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms-docker-image, build-loader-docker-image, deploy-synonyms-to-prod-cluster-proxmox, deploy-synonyms-to-dev-cluster-openstack, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

build-es-synonyms-docker-image:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/docker-git:latest
  stage: pre-build
  services:
  - docker:20.10.6-dind
  script:
  - git lfs pull -I "data/synonyms"
  - cd data/synonyms
  - gzip -fd all_*.txt.gz
  ...

build-loader-docker-image:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/docker-git:latest
  stage: pre-build
  services:
  - docker:20.10.6-dind
  script:
  - docker build -t registry.forgemia.inra.fr/urgi-is/docker-rare/data-discovery-loader:${IMAGE_TAG} .
  ...

deploy-synonyms-to-prod-cluster-proxmox:
  stage: pre-build
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${ES_SSH_PRIVATE_KEY}")
  - git lfs pull -I "data/synonyms"
  - for ES_HOST in $ES_PROD_HOSTS $ES_PROD_MASTER_PROXMOX ; do scp -o StrictHostKeyChecking=no data/synonyms/all_*.gz ${SERVER_USER_PROXMOX}@${ES_HOST}:/tmp/ 2>/dev/null; done ;
  ...

deploy-synonyms-to-dev-cluster-openstack:
  stage: pre-build
  tags:
  - openstack
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${ES_SSH_PRIVATE_KEY}")
  - git lfs pull -I "data/synonyms"
  ...

test-and-sonarqube:
  stage: test
  tags:
  - openstack
  services:
  - name: registry.forgemia.inra.fr/urgi-is/data-discovery/elasticsearch-synonyms:latest
    alias: elasticsearch
    command:
    - /bin/sh
    - -c
  ...

lint:
  stage: test
  tags:
  - openstack
  script: ./gradlew :frontend:lint
  interruptible: true

build-rare:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-brc4env:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-wheatis:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-data-discovery:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

Add docker-loader instructions for specific branches. #83
  README.md
Due: none

fix: make sure the right document is displayed in RARe
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.spec.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/app/rare/rare.module.ts
  frontend/src/app/urgi-common/generic-footer/generic-footer.component.ts
  frontend/src/app/urgi-common/generic-rare-basket/generic-rare-basket.component.html
  frontend/src/app/urgi-common/generic-rare-basket/generic-rare-basket.component.scss
  frontend/src/app/urgi-common/generic-rare-basket/generic-rare-basket.component.ts
  frontend/src/app/urgi-common/urgi-common.module.ts
  frontend/src/app/wheatis/wheatis.module.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: set up circleci
  .circleci/config.yml
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: upgrade to Spring Boot 2.6.4
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/AggregatedPage.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/filter/faidare/FaidareUserManager.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/MockTermsAggregation.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: upgrade to gradle 7.4.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

chore: upgrade asciidoctor and improve build
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-data-discovery

chore: upgrade frontend dependencies
  frontend/.browserslistrc
  frontend/package.json
  frontend/src/app/aggregations/aggregations.component.spec.ts
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/error-interceptor.service.spec.ts
  frontend/src/app/faidare/faidare-document-list/faidare-document-list.component.spec.ts
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.spec.ts
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.spec.ts
  frontend/src/app/faidare/node-details/node-details.component.spec.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.spec.ts
  frontend/src/app/generic-document-list/generic-document-list.component.spec.ts
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/markdown-page/markdown-page.component.spec.ts
  frontend/src/app/navbar/navbar.component.spec.ts
  frontend/src/app/pillars/pillars.component.spec.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-document/rare-document.component.spec.ts
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.spec.ts
  frontend/src/app/search-state.service.spec.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: update README
  README.md
Due: none

chore: upgrade to Bootstrap 5 (and ng-bootstrap 12)
  frontend/package.json
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.html
  frontend/src/app/document-count/document-count.component.html
  frontend/src/app/error/error.component.html
  frontend/src/app/faidare/faidare-header/faidare-header.component.html
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.html
  frontend/src/app/faidare/germplasm-results/germplasm-results.component.html
  frontend/src/app/faidare/germplasm-results/sortable-header/sortable-header.component.html
  frontend/src/app/faidare/node-details/node-details.component.html
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.html
  frontend/src/app/faidare/tree/node/node.component.html
  frontend/src/app/home/home.component.html
  frontend/src/app/large-aggregation/large-aggregation.component.html
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/markdown-page/markdown-page.component.scss
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/rare/rare-basket/rare-basket.component.html
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-document/rare-document.component.html
  frontend/src/app/rare/rare-header/rare-header.component.html
  frontend/src/app/search/search.component.html
  frontend/src/app/urgi-common/generic-document/generic-document.component.html
  frontend/src/app/wheatis/wheatis-header/wheatis-header.component.html
  frontend/src/assets/brc4env/theme.scss
  frontend/src/assets/faidare/theme.scss
  frontend/src/assets/rare/theme.scss
  frontend/src/custom-bootstrap.scss
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: disable scrollPositionRestoration
  frontend/src/app/app.module.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: enable renovate
  .github/renovate.json5
Due: none

chore: use node v16
  frontend/build.gradle.kts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: increase of search depth
  scripts/createSuggestions.sh
  scripts/harvestCI.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

feat: apply the same structure as the Faidare data folder
  data/rare/rare_pilier-animal_crb-anim.json.gz
  data/rare/rare_pilier-environment_brc4env-cbgp.utf8.json.gz
  data/rare/rare_pilier-environment_brc4env-epcoll.utf8.json.gz
  data/rare/rare_pilier-environment_brc4env-tcc.utf8.json.gz
  data/rare/rare_pilier-foret.json.gz
  data/rare/rare_pilier-microbien_cirm-bia.utf8.json.gz
  data/rare/rare_pilier-microbien_cirm-bp.utf8.json.gz
  data/rare/rare_pilier-microbien_cirm-cf.utf8.json.gz
  data/rare/rare_pilier-microbien_cirm-cfbp.json.gz
  data/rare/rare_pilier-microbien_cirm-levure.utf8.json.gz
  data/rare/rare_pilier-plante_cnrgv.utf8.json.gz
  data/rare/rare_pilier-plante_florilege.utf8.json.gz
  data/rare/rare_pilier-plante_siregal.json.gz
Due: data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack

feat: change data folder in gitlab ci
  .gitlab-ci.yml
Due: test-and-sonarqube

feat: create private suggestions - first version
  scripts/createSuggestions.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

feat: rename indexes and aliases - GNP-6143
  backend/src/main/resources/application.yml
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

fix: correct translation - GNP-6208
  frontend/src/app/i18n/fr.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: align index prefix
  backend/src/main/resources/application.yml
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

fix: refactor suggestion index creation
  scripts/createIndexAndAliases4CI.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

feat: generate card url - first version - GNP-6233
  scripts/harvestCI.sh
  scripts/link_card.jq
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

fix: correct syntax
  scripts/harvestCI.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

fix: correct url
  scripts/harvestCI.sh
  scripts/link_card.jq
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

Rename faidare into faidare-search. GNP-6129
  backend/src/main/resources/application.yml
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update dependency @types/jasmine to v4
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update all non-major dependencies
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: use ng and cli v13.3.0
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update dependency typescript to v4.6.3
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: upgrade to spring boot 2.6.5
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-data-discovery

chore(deps): update angular-cli monorepo to v13.3.1
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update all non-major dependencies
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update angular monorepo to v13.3.1
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update dependency @types/jasmine to v4.0.2
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update angular monorepo to v13.3.2
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update angular-cli monorepo to v13.3.2
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to v12.0.2
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore(deps): update dependency karma-jasmine to v5
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Path conditions:
  build-es-synonyms-docker-image: any of: data/synonyms/*
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.jso, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-prod-cluster-proxmox: any of: data/synonyms/all_*
  deploy-synonyms-to-dev-cluster-openstack: any of: data/synonyms/all_*
  test-and-sonarqube: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  lint: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-brc4env: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-proxmox: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-brc4env-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-wheatis-beta-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-staging-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-proxmox: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-beta-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-staging-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-proxmox: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
