Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms, test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Path conditions:
  build-es-synonyms: any of: data/synonyms/*
  test: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-staging: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-prod: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-wheatis-beta: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-staging: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-prod: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-data-discovery-beta: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-staging: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-prod: any of: data/data-discovery/*.json.gz, data/synonyms/*

feat(basket): select all
  frontend/src/app/data-discovery/data-discovery.module.ts
  frontend/src/app/documents/documents.component.html
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/rare/basket.service.spec.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.html
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.scss
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.spec.ts
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.ts
  frontend/src/app/rare/rare.module.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/urgi-common/generic-select-all-results/generic-select-all-results.component.html
  frontend/src/app/urgi-common/generic-select-all-results/generic-select-all-results.component.scss
  frontend/src/app/urgi-common/generic-select-all-results/generic-select-all-results.component.spec.ts
  frontend/src/app/urgi-common/generic-select-all-results/generic-select-all-results.component.ts
  frontend/src/app/urgi-common/urgi-common.module.ts
  frontend/src/app/wheatis/wheatis.module.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

feat(basket): clear basket
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/rare/basket.service.spec.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.html
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Remove mandatory ID_FIELD parameter. Invert fields concat for building the ES identifier.
  scripts/index.sh
  scripts/to_bulk.jq
Due: none

fix: use correct identifier for RARe and other apps. fix to_bulk.jq tests.
  scripts/harvestCI.sh
  scripts/test/fixture2.json.stderr
  scripts/test/fixture2.json.stdout
  scripts/test/to_bulk_test.sh
  scripts/to_bulk.jq
Due: none

Delete identifier for non rare apps.
  scripts/harvestCI.sh
  scripts/to_bulk.jq
Due: none

Revert create statement in favor of index.
  scripts/to_bulk.jq
Due: none

Replace index by a create statement.
  scripts/to_bulk.jq
Due: none

Add accessionHolder field for all BRC Environment + BRC Forest. GNP-5796.
  data/rare/rare_pilier-environment_brc4env-cbgp.utf8.json.gz
  data/rare/rare_pilier-environment_brc4env-colisa_2020-03-23-15-17-57.json.gz
  data/rare/rare_pilier-environment_brc4env-epcoll.utf8.json.gz
  data/rare/rare_pilier-environment_brc4env-tcc.utf8.json.gz
  data/rare/rare_pilier-foret.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod

fix(basket): use /rare-basket
  frontend/src/app/rare/basket.service.spec.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/environments/rare-basket.prod.ts
  frontend/src/environments/rare-basket.ts
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

refactor: tidy up markdown component
  frontend/src/app/markdown-page/markdown-page.component.html
  frontend/src/app/markdown-page/markdown-page.component.spec.ts
  frontend/src/app/markdown-page/markdown-page.component.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

feat: add accessionHolder field
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/rare/RareDocument.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/rare/RareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/rare/RareDocumentTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/search/SearchControllerDocTest.java
  frontend/src/app/models/test-model-generators.ts
  frontend/src/app/rare/basket.service.spec.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-document.model.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

feat: only show basket for accession with accession holder
  frontend/src/app/rare/rare-document/rare-document.component.html
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

feat: localize markdown pages
  frontend/src/app/markdown-page/markdown-page.component.spec.ts
  frontend/src/app/markdown-page/markdown-page.component.ts
  frontend/src/assets/data-discovery/about-en.md
  frontend/src/assets/data-discovery/about-fr.md
  frontend/src/assets/data-discovery/help-en.md
  frontend/src/assets/data-discovery/help-fr.md
  frontend/src/assets/data-discovery/join-en.md
  frontend/src/assets/data-discovery/join-fr.md
  frontend/src/assets/data-discovery/legal-en.md
  frontend/src/assets/data-discovery/legal-fr.md
  frontend/src/assets/rare/about-en.md
  frontend/src/assets/rare/about-fr.md
  frontend/src/assets/rare/help-en.md
  frontend/src/assets/rare/help-fr.md
  frontend/src/assets/rare/join-en.md
  frontend/src/assets/rare/join-fr.md
  frontend/src/assets/rare/legal-en.md
  frontend/src/assets/rare/legal-fr.md
  frontend/src/assets/wheatis/about-en.md
  frontend/src/assets/wheatis/about-fr.md
  frontend/src/assets/wheatis/help-en.md
  frontend/src/assets/wheatis/help-fr.md
  frontend/src/assets/wheatis/join-en.md
  frontend/src/assets/wheatis/join-fr.md
  frontend/src/assets/wheatis/legal-en.md
  frontend/src/assets/wheatis/legal-fr.md
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

feat: add EULA markdown
  EULA.md
  frontend/src/app/app.routes.ts
  frontend/src/assets/data-discovery/eula-en.md
  frontend/src/assets/data-discovery/eula-fr.md
  frontend/src/assets/rare/eula-en.md
  frontend/src/assets/rare/eula-fr.md
  frontend/src/assets/wheatis/eula-en.md
  frontend/src/assets/wheatis/eula-fr.md
  frontend/src/environments/environment.data-discovery.prod.ts
  frontend/src/environments/environment.data-discovery.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.rare.prod.ts
  frontend/src/environments/environment.rare.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.wheatis.prod.ts
  frontend/src/environments/environment.wheatis.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

feat: add a configuration to disable the basket
  README.md
  buildSrc/src/main/kotlin/app.kt
  frontend/angular.json
  frontend/package.json
  frontend/src/app/documents/documents.component.html
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.html
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/app/rare/rare-document/rare-document.component.html
  frontend/src/app/rare/rare-document/rare-document.component.spec.ts
  frontend/src/app/rare/rare-document/rare-document.component.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/environments/no-basket.ts
  frontend/src/environments/rare-basket.prod.ts
  frontend/src/environments/rare-basket.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

feat(basket): add EULA confirmation
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/rare/rare-basket/rare-basket.component.html
  frontend/src/app/rare/rare-basket/rare-basket.component.scss
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/app/rare/rare.module.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

test: add tests for implicit terms
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoWithImplicitTermsTest.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

fix: only add the accessions with an accession holder
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.spec.ts
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

feat: implicit search refinements
  backend/src/main/java/fr/inra/urgi/datadiscovery/Application.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/AppProfile.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/RareImplicitRefinementsProperties.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareAggregationAnalyzer.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDao.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareImplicitAggregation.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/SuggestionDocument.java
  backend/src/main/resources/application.yml
  backend/src/test/java/fr/inra/urgi/datadiscovery/RareWithBasketApplicationTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

doc: add documentation for rare with basket and implicit filtering
  README.md
Due: none

doc: update javadoc for implicit aggregations
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareImplicitAggregation.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

fix: remove pillar filter
  backend/src/main/resources/application.yml
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

refactor: rename rare to rare-with-basket
  buildSrc/src/main/kotlin/app.kt
  frontend/angular.json
  frontend/package.json
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/environments/no-basket.ts
  frontend/src/environments/rare-no-basket.ts
  frontend/src/environments/rare-with-basket.prod.ts
  frontend/src/environments/rare-with-basket.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Configure CI for rare-with-basket. GNP-5796.
  .gitlab-ci.yml
  backend/src/main/resources/application.yml
  frontend/src/environments/rare-with-basket.prod.ts
  frontend/src/environments/rare-with-basket.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Add a break after Hide label in truncatable description.
  frontend/src/app/truncatable-description/truncatable-description.component.html
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Add tracer example for logging all queries
  backend/src/main/resources/application.yml
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Fix cloud config app name.
  backend/src/main/resources/application.yml
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Increase default timeouts for ES client.
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/ElasticSearchConfig.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Comment implicit filter.
  backend/src/main/resources/application.yml
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Increase maxRetryTimeout
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/ElasticSearchConfig.java
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Change environment file for rare-with-basket using BRC4Env examples, and links. GNP-5796
  frontend/angular.json
  frontend/src/environments/environment.rare-with-basket.prod.ts
  frontend/src/environments/environment.rare-with-basket.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Improve readme.
  README.md
Due: none

Replace default RARe banner by BRC4env banner in rare-with-basket.
  frontend/angular.json
  frontend/src/assets/rare/Bandeau-BRC4env.jpg
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Change RARe title in main page by BRC4Env when relevant. GNP-5796.
  frontend/src/app/rare/rare-header/rare-header.component.html
  frontend/src/app/rare/rare-header/rare-header.component.ts
  frontend/src/environments/environment.rare-with-basket.prod.ts
  frontend/src/environments/environment.rare-with-basket.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Fix accessionHolder field for Colisa. GNP-5796
  data/rare/rare_pilier-environment_brc4env-colisa_2020-03-23-15-17-57.json.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod

Configure rare-with-basket filtered index.
  .gitattributes
  data/synonyms/all_autophrases.txt.gz
  data/synonyms/all_synonyms.txt.gz
  scripts/createIndexAndAliases4CI.sh
  scripts/createSuggestions.sh
  scripts/filters/noop_filter.jq
  scripts/filters/pillar_filter_brc4env.jq
  scripts/harvestCI.sh
Due: build-es-synonyms, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Incrase max content length for local Docker.
  docker-compose.yml
Due: none

Fix rare-with-basket ES alias prefix. GNP-5796.
  backend/src/main/resources/application.yml
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Configure CI to deploy and index rare-with-basket to beta, staging and prod environments. GNP-5796.
  .gitlab-ci.yml
  scripts/harvestCI.sh
Due: none

Make docker-compose extracting synonyms files upon startup.
  .gitignore
  ABOUT.md
  docker-compose.yml
  frontend/src/app/navbar/navbar.component.spec.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod
