Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms, test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

build-es-synonyms:
  image: docker:19.03.1
  stage: build-es-synonyms
  services:
  - docker:19.03.1-dind
  script:
  - if [ "$CI_COMMIT_BRANCH" == "master" ]; then IMAGE_TAG="latest"; fi
  - cd data/synonyms
  ...

test:
  stage: test
  services:
  - name: registry.forgemia.inra.fr/urgi-is/data-discovery/elasticsearch-synonyms:${IMAGE_TAG}
    alias: elasticsearch
    command:
    - /bin/sh
    - -c
  ...

build-rare:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

build-wheatis:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

build-data-discovery:
  stage: build
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  variables:
  ...

deploy-rare-to-beta:
  variables:
    ENV: beta
    APP_NAME: rare
    APP_PORT: ${BETA_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_DEV_HOST}
    ES_HOSTS: ${ES_DEV_HOSTS}
    ES_PORT: ${ES_DEV_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-rare-to-staging:
  variables:
    ENV: staging
    APP_NAME: rare
    APP_PORT: ${STAGING_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_DEV_HOST}
    ES_HOSTS: ${ES_DEV_HOSTS}
    ES_PORT: ${ES_DEV_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-rare-to-prod:
  variables:
    ENV: prod
    APP_NAME: rare
    APP_PORT: ${PROD_RARE_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_PROD_HOST}
    ES_HOSTS: ${ES_PROD_HOSTS}
    ES_PORT: ${ES_PROD_PORT}
    APP_CONTEXT: ${APP_NAME}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-wheatis-to-beta:
  variables:
    ENV: beta
    APP_NAME: wheatis
    APP_PORT: ${BETA_WHEATIS_PORT}
    SERVER_IP: ${SERVER_IP}
    ES_HOST: ${ES_DEV_HOST}
    ES_HOSTS: ${ES_DEV_HOSTS}
    ES_PORT: ${ES_DEV_PORT}
    APP_CONTEXT: ${APP_NAME}-${ENV}
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

Add PF DOI and a grace period before extinction
  LEGAL-MENTIONS-fr.md
Due: none

Add PF DOI and a grace period before extinction
  LEGAL-MENTIONS.md
Due: none

Add news and perspectives page.
  NEWS-RARe-fr.md
  NEWS-RARe.md
  NEWS-WHEATIS.md
  frontend/src/app/app.routes.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/navbar/navbar.component.html
  frontend/src/assets/data-discovery/news-en.md
  frontend/src/assets/data-discovery/news-fr.md
  frontend/src/assets/rare/news-en.md
  frontend/src/assets/rare/news-fr.md
  frontend/src/assets/wheatis/news-en.md
  frontend/src/assets/wheatis/news-fr.md
  frontend/src/environments/environment.data-discovery.prod.ts
  frontend/src/environments/environment.data-discovery.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.rare-with-basket.prod.ts
  frontend/src/environments/environment.rare-with-basket.ts
  frontend/src/environments/environment.rare.prod.ts
  frontend/src/environments/environment.rare.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.wheatis.prod.ts
  frontend/src/environments/environment.wheatis.ts
  frontend/src/test.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Build and push with both latest and IMAGE_TAG tags to avoid errors in test-sonarqube job when no change has been made on synonyms files. GNP-5935.
  .gitlab-ci.yml
Due: none

Rename 'rare-with-basket' in 'brc4env'. GNP-5796.
  .gitlab-ci.yml
  README.md
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/AppProfile.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/RareImplicitRefinementsProperties.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareAggregationAnalyzer.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDao.java
  backend/src/main/resources/application.yml
  backend/src/test/java/fr/inra/urgi/datadiscovery/RareWithBasketApplicationTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoWithImplicitTermsTest.java
  buildSrc/src/main/kotlin/app.kt
  frontend/angular.json
  frontend/package.json
  frontend/proxy.conf.js
  frontend/src/environments/environment.brc4env.prod.ts
  frontend/src/environments/environment.brc4env.ts
  frontend/src/environments/rare-with-basket.prod.ts
  frontend/src/environments/rare-with-basket.ts
  scripts/createIndexAndAliases4CI.sh
  scripts/createSuggestions.sh
  scripts/harvestCI.sh
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Configure brc4env deployment server. Rationalise proxmox/openstack variables. GNP-5796.
  .gitlab-ci.yml
Due: none

Generate suggestions for BRC4env. GNP-5796.
  data/rare/suggestions/brc4env_bulk_1.gz
  data/rare/suggestions/brc4env_bulk_2.gz
  data/rare/suggestions/rare-with-basket_bulk_1.gz
  data/rare/suggestions/rare-with-basket_bulk_2.gz
Due: none

Configure DAG with needs keyword for CI. GNP-5796
  .gitlab-ci.yml
Due: none

Merge deployment hidden jobs. GNP-5796.
  .gitlab-ci.yml
Due: none

Fix proxmox user variable. GNP-5796.
  .gitlab-ci.yml
Due: none

Restart config-server before any deployment.
  .gitlab-ci.yml
Due: none

Chore: update deprecated sonarqube properties and add properties needed for MR decoration.
  .gitlab-ci.yml
  build.gradle.kts
  docker.env
Due: build-rare, build-wheatis, build-data-discovery

Fix typos.
  README.md
Due: none

Bump Docker dind from 19.03.12 to 20.10.6.
  .gitlab-ci.yml
Due: none

Configure CI to build data-discovery-loader docker image when relevant and push it into Gitlab docker registry. GNP-5999 GNP-6000.
  .gitlab-ci.yml
Due: none

Create instructions for loading data into local Elasticsearch using crafted docker image. GNP-5999 GNP-6000.
  .dockerignore
  Dockerfile
  README.md
  scripts/index.sh
Due: none

Activate MR decoration in SonarQube
  .gitlab-ci.yml
Due: none

chore: update gradle git properties
  backend/build.gradle.kts
Due: build-rare, build-wheatis, build-data-discovery

feat: Clean unnecessary filed - GNP-6028
  scripts/clean_fields.jq
  scripts/harvestCI.sh
Due: none

Apply 1 suggestion(s) to 1 file(s)
  scripts/clean_fields.jq
Due: none

build: upgrade frontend build to use newer node plugin
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/build.gradle.kts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Temporary make some jobs manual for speeding up CI build time. Should be reverted before merging story/faidare-fusion into master branch. GNP-5999.
  .gitlab-ci.yml
Due: none

chore: update to angular and cli 12
  frontend/.browserslistrc
  frontend/angular.json
  frontend/karma.conf.js
  frontend/package.json
  frontend/src/app/aggregations/aggregations.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/data-discovery-ngb-testing.module.ts
  frontend/src/app/data-discovery-ngb.module.ts
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.spec.ts
  frontend/src/app/document-count/document-count.component.spec.ts
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/loading-skeleton/loading-skeleton.component.spec.ts
  frontend/src/app/pillars/pillars.component.spec.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-document/rare-document.component.spec.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/src/browserslist
  frontend/src/environments/environment.data-discovery.ts
  frontend/src/environments/environment.rare.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.wheatis.ts
  frontend/src/polyfills.ts
  frontend/src/test.ts
  frontend/tsconfig.json
  frontend/tslint.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: strict ts
  frontend/angular.json
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.ts
  frontend/src/app/document-count/document-count.component.ts
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/highlight.service.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/loading-skeleton/loading-skeleton.component.ts
  frontend/src/app/markdown-page/markdown-page.component.ts
  frontend/src/app/pillars/pillars.component.spec.ts
  frontend/src/app/pillars/pillars.component.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.html
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/app/rare/rare-document/rare-document.component.ts
  frontend/src/app/search.service.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/search/search.component.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
  frontend/src/app/truncatable-description/truncatable-description.component.ts
  frontend/src/app/urgi-common/generic-document/generic-document.component.ts
  frontend/src/app/urgi-common/generic-select-all-results/generic-select-all-results.component.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
  frontend/tslint.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: remove corejs
  frontend/package.json
  frontend/src/polyfills.ts
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: migrate from tslint to eslint
  frontend/.gitignore
  frontend/angular.json
  frontend/package.json
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/tslint.json
  frontend/tslint.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

chore: use cypress
  frontend/.gitignore
  frontend/angular.json
  frontend/build.gradle.kts
  frontend/cypress.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/integration/home.spec.ts
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.ts
  frontend/cypress/tsconfig.json
  frontend/e2e/protractor.conf.js
  frontend/e2e/src/app.e2e-spec.ts
  frontend/e2e/src/app.po.ts
  frontend/e2e/tsconfig.e2e.json
  frontend/package.json
  frontend/yarn.lock
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

fix: assets for brc4env
  frontend/angular.json
  frontend/src/assets/brc4env/about-en.md
  frontend/src/assets/brc4env/about-fr.md
  frontend/src/assets/brc4env/band.jpg
  frontend/src/assets/brc4env/eula-en.md
  frontend/src/assets/brc4env/eula-fr.md
  frontend/src/assets/brc4env/favicon.ico
  frontend/src/assets/brc4env/help-en.md
  frontend/src/assets/brc4env/help-fr.md
  frontend/src/assets/brc4env/join-en.md
  frontend/src/assets/brc4env/join-fr.md
  frontend/src/assets/brc4env/legal-en.md
  frontend/src/assets/brc4env/legal-fr.md
  frontend/src/assets/brc4env/logo.png
  frontend/src/assets/brc4env/news-en.md
  frontend/src/assets/brc4env/news-fr.md
  frontend/src/assets/brc4env/theme.scss
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Configure merge_requests pipelines.
  .gitlab-ci.yml
Due: none

Fix missing refs for docker image builds.
  .gitlab-ci.yml
Due: none

Fix branch restriction for indexing jobs.
  .gitlab-ci.yml
Due: none

Make jobs interruptible when relevant. Refactor jobs.
  .gitlab-ci.yml
Due: none

Remove useless only keys
  .gitlab-ci.yml
Due: none

Path conditions:
  build-es-synonyms: any of: data/synonyms/*
  test: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-staging: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-prod: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-wheatis-beta: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-staging: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-prod: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-data-discovery-beta: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-staging: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-prod: any of: data/data-discovery/*.json.gz, data/synonyms/*
