Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms, test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod, data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod, data-integration-wheatis-beta, data-integration-wheatis-staging, data-integration-wheatis-prod, data-integration-data-discovery-beta, data-integration-data-discovery-staging, data-integration-data-discovery-prod

Path conditions:
  build-es-synonyms: any of: data/synonyms/*
  test: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-staging: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-rare-prod: any of: data/rare/*.json.gz, data/synonyms/*
  data-integration-wheatis-beta: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-staging: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-wheatis-prod: any of: data/wheatis/*.json.gz, data/synonyms/*
  data-integration-data-discovery-beta: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-staging: any of: data/data-discovery/*.json.gz, data/synonyms/*
  data-integration-data-discovery-prod: any of: data/data-discovery/*.json.gz, data/synonyms/*

Translate markdown files in french and update related links. GNP-5796.
  ABOUT-fr.md
  EULA-fr.md
  HELP-fr.md
  HOW-TO-JOIN-RARe-FEDERATION-fr.md
  HOW-TO-JOIN-RARe-FEDERATION.md
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS-fr.md
  LEGAL-MENTIONS-fr.md
  frontend/src/assets/data-discovery/about-fr.md
  frontend/src/assets/data-discovery/eula-fr.md
  frontend/src/assets/data-discovery/help-fr.md
  frontend/src/assets/data-discovery/join-fr.md
  frontend/src/assets/data-discovery/legal-fr.md
  frontend/src/assets/rare/about-fr.md
  frontend/src/assets/rare/eula-fr.md
  frontend/src/assets/rare/help-fr.md
  frontend/src/assets/rare/join-fr.md
  frontend/src/assets/rare/legal-fr.md
  frontend/src/assets/wheatis/about-fr.md
  frontend/src/assets/wheatis/eula-fr.md
  frontend/src/assets/wheatis/help-fr.md
  frontend/src/assets/wheatis/join-fr.md
  frontend/src/assets/wheatis/legal-fr.md
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Replace complex processes by functions.
  scripts/createSuggestions.sh
  scripts/harvestCI.sh
  scripts/index.sh
Due: none

Update RARe suggestions with new file naming. GNP-5796.
  data/rare/suggestions/rare_bulk_1.gz
  data/rare/suggestions/rare_bulk_2.gz
  data/rare/suggestions/rare_bulk_3.gz
Due: none

Minor script stuff related to rare-with-basket suggestions.
  scripts/createSuggestions.sh
  scripts/harvestCI.sh
Due: none

Add rare-with-basket suggestions with new file naming. GNP-5796
  data/rare/suggestions/bulk_1.gz
  data/rare/suggestions/bulk_2.gz
  data/rare/suggestions/bulk_3.gz
  data/rare/suggestions/rare-with-basket_bulk_1.gz
  data/rare/suggestions/rare-with-basket_bulk_2.gz
Due: none

Fix gitlab-ci
  .gitlab-ci.yml
Due: none

Use forgeMIA registry to fetch Docker images.
  .gitlab-ci.yml
Due: none

Configure dev env deploy on rare-with-basket path
  .gitlab-ci.yml
  README.md
  backend/src/main/resources/application.yml
  frontend/angular.json
  frontend/proxy.conf.js
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Introduce variable dedicated for git LFS pull
  .gitlab-ci.yml
Due: none

Fix git pull
  .gitlab-ci.yml
Due: none

Add accessionHolder in HOW-TO-JOIN-RARe. GNP-5796.
  HOW-TO-JOIN-RARe-FEDERATION-fr.md
  HOW-TO-JOIN-RARe-FEDERATION.md
Due: none

add GO Annotation facet
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisAggregation.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisGeneticResource.mapping.json
  frontend/src/environments/environment.data-discovery.prod.ts
  frontend/src/environments/environment.data-discovery.ts
  frontend/src/environments/environment.wheatis.prod.ts
  frontend/src/environments/environment.wheatis.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Translate missing properties.
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.html
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Fix missing test import.
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.spec.ts
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Reduce identifier building to avoid exceeding ES limit to 512bit. GNP-5931.
  scripts/to_bulk.jq
Due: none

Reduce limit of _id field to 509 characters. GNP-5932.
  scripts/harvestCI.sh
  scripts/to_bulk.jq
Due: none

Change legal mentions by terms of use.
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
Due: test, build-rare, build-wheatis, build-data-discovery, deploy-rare-to-beta, deploy-rare-to-staging, deploy-rare-to-prod, deploy-wheatis-to-beta, deploy-wheatis-to-staging, deploy-wheatis-to-prod, deploy-data-discovery-to-beta, deploy-data-discovery-to-staging, deploy-data-discovery-to-prod

Try to handle correctly errors related to Elasticsearch API usage. GNP-5932.
  scripts/harvestCI.sh
Due: none

Correct typos.
  HOW-TO-JOIN-RARe-FEDERATION-fr.md
Due: none

Replace urgi-contact by urgi-data. Improve RARe how to join documentation.
  ABOUT-fr.md
  ABOUT.md
  HOW-TO-JOIN-RARe-FEDERATION-fr.md
  HOW-TO-JOIN-RARe-FEDERATION.md
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS-fr.md
  HOW-TO-JOIN-WHEATIS-AND-PLANT-FEDERATIONS.md
Due: none

Move the specification about the docker-compose version to CONTRIBUTING.MD file.
  CONTRIBUTING.MD
  README.md
Due: none

Specify the minimum docker-compose version.
  README.md
Due: none

Update forest accession holders and correct bug in country data. GNP-5796.
  data/rare/rare_pilier-foret.json.gz
  data/rare/rare_pilier-plante_siregal.json.gz
  data/rare/suggestions/rare_bulk_1.gz
  data/rare/suggestions/rare_bulk_2.gz
  data/rare/suggestions/rare_bulk_3.gz
Due: data-integration-rare-beta, data-integration-rare-staging, data-integration-rare-prod

Fix delete pattern to avoid conflict between rare and rare-with-basket. GNP-5796
  scripts/index.sh
Due: none

Add script dir to data-integration jobs trigger. GNP-5796.
  .gitlab-ci.yml
Due: none

Simplify synonym trigger. GNP-5796.
  .gitlab-ci.yml
Due: none

feat: activate MR analysis in Sonarqube. Create dedicated job for master branch analysis. Remove system variables. GNP-5961.
  .gitlab-ci.yml
  docker.env
Due: build-rare, build-wheatis, build-data-discovery

parent c0cd58c243ebca072c326e32a749a2f40426f388 author Cyril Pommier <cyril.pommier@inra.fr> 1601055849 +0200 committer Raphaël Flores <raphael.flores@inrae.fr> 1611935117 +0000
  scripts/harvestCI.sh
Due: none

Add TOC with markdown tag
  CONTRIBUTING.MD
Due: none

Add TOC with markdown tag
  README.md
Due: none

Add PlantBioinfoPF DMP
  LEGAL-MENTIONS-fr.md
Due: none

Add PlantBioinfoPF DMP
  LEGAL-MENTIONS.md
Due: none
