Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms-docker-image, build-loader-docker-image, deploy-synonyms-to-prod-cluster-proxmox, deploy-synonyms-to-dev-cluster-openstack, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

Path conditions:
  build-es-synonyms-docker-image: any of: data/synonyms/*
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.jso, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-prod-cluster-proxmox: any of: data/synonyms/all_*
  deploy-synonyms-to-dev-cluster-openstack: any of: data/synonyms/all_*
  test-and-sonarqube: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  lint: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-brc4env: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-proxmox: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-brc4env-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-wheatis-beta-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-staging-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-proxmox: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-beta-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-staging-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-proxmox: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*

chore: bump ng and cli to v14
  frontend/angular.json
  frontend/package.json
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/app/search/search.component.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: use strict forms
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/app/search/search.component.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: enable errors in test on missing elements/properties
  frontend/src/test.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix(deps): update dependency ngx-markdown to v14
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: update to bootstrap v5.2.0
  frontend/package.json
  frontend/src/assets/brc4env/theme.scss
  frontend/src/assets/faidare/theme.scss
  frontend/src/assets/rare/theme.scss
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: bump to angular v14.1
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: lockfile maintenance
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: update gradle git properties
  backend/build.gradle.kts
Due: build-rare, build-brc4env, build-wheatis, build-data-discovery

build: upgrade frontend build to use newer node plugin
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/build.gradle.kts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Temporary make some jobs manual for speeding up CI build time. Should be reverted before merging story/faidare-fusion into master branch. GNP-5999.
  .gitlab-ci.yml
Due: test-and-sonarqube

chore: update to angular and cli 12
  frontend/.browserslistrc
  frontend/angular.json
  frontend/karma.conf.js
  frontend/package.json
  frontend/src/app/aggregations/aggregations.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/data-discovery-ngb-testing.module.ts
  frontend/src/app/data-discovery-ngb.module.ts
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.spec.ts
  frontend/src/app/document-count/document-count.component.spec.ts
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/loading-skeleton/loading-skeleton.component.spec.ts
  frontend/src/app/pillars/pillars.component.spec.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-document/rare-document.component.spec.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/src/browserslist
  frontend/src/environments/environment.data-discovery.ts
  frontend/src/environments/environment.rare.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.wheatis.ts
  frontend/src/polyfills.ts
  frontend/src/test.ts
  frontend/tsconfig.json
  frontend/tslint.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: strict ts
  frontend/angular.json
  frontend/src/app/aggregations/aggregations.component.ts
  frontend/src/app/descendants-checkbox/descendants-checkbox.component.ts
  frontend/src/app/document-count/document-count.component.ts
  frontend/src/app/documents/documents.component.ts
  frontend/src/app/highlight.service.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/loading-skeleton/loading-skeleton.component.ts
  frontend/src/app/markdown-page/markdown-page.component.ts
  frontend/src/app/pillars/pillars.component.spec.ts
  frontend/src/app/pillars/pillars.component.ts
  frontend/src/app/rare/basket.service.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.html
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/app/rare/rare-document/rare-document.component.ts
  frontend/src/app/search.service.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/search/search.component.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
  frontend/src/app/truncatable-description/truncatable-description.component.ts
  frontend/src/app/urgi-common/generic-document/generic-document.component.ts
  frontend/src/app/urgi-common/generic-select-all-results/generic-select-all-results.component.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
  frontend/tslint.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: remove corejs
  frontend/package.json
  frontend/src/polyfills.ts
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: migrate from tslint to eslint
  frontend/.gitignore
  frontend/angular.json
  frontend/package.json
  frontend/src/app/rare/rare-basket/rare-basket.component.ts
  frontend/src/tslint.json
  frontend/tslint.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: use cypress
  frontend/.gitignore
  frontend/angular.json
  frontend/build.gradle.kts
  frontend/cypress.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/integration/home.spec.ts
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.ts
  frontend/cypress/tsconfig.json
  frontend/e2e/protractor.conf.js
  frontend/e2e/src/app.e2e-spec.ts
  frontend/e2e/src/app.po.ts
  frontend/e2e/tsconfig.e2e.json
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: assets for brc4env
  frontend/angular.json
  frontend/src/assets/brc4env/about-en.md
  frontend/src/assets/brc4env/about-fr.md
  frontend/src/assets/brc4env/band.jpg
  frontend/src/assets/brc4env/eula-en.md
  frontend/src/assets/brc4env/eula-fr.md
  frontend/src/assets/brc4env/favicon.ico
  frontend/src/assets/brc4env/help-en.md
  frontend/src/assets/brc4env/help-fr.md
  frontend/src/assets/brc4env/join-en.md
  frontend/src/assets/brc4env/join-fr.md
  frontend/src/assets/brc4env/legal-en.md
  frontend/src/assets/brc4env/legal-fr.md
  frontend/src/assets/brc4env/logo.png
  frontend/src/assets/brc4env/news-en.md
  frontend/src/assets/brc4env/news-fr.md
  frontend/src/assets/brc4env/theme.scss
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Configure merge_requests pipelines.
  .gitlab-ci.yml
Due: test-and-sonarqube

Make jobs interruptible when relevant. Refactor jobs.
  .gitlab-ci.yml
Due: test-and-sonarqube

Fix missing refs for docker image builds.
  .gitlab-ci.yml
Due: test-and-sonarqube

Fix branch restriction for indexing jobs.
  .gitlab-ci.yml
Due: test-and-sonarqube

Remove useless only keys
  .gitlab-ci.yml
Due: test-and-sonarqube

Upgrade indexing scripts for compliance to Elasticsearch 7.
  scripts/createIndexAndAliases4CI.sh
  scripts/harvestCI.sh
Due: build-loader-docker-image, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

refactor: remove deprecated code
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/SecurityConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/DocumentDao.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/DocumentDaoCustom.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDao.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoCustom.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDao.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoCustom.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/IndexedDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/rare/RareIndexedDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisIndexedDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/pillar/PillarController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/search/SearchController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/search/SuggestionController.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/rare/RareIndexedDocumentTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisIndexedDocumentTest.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

ci: change elastic version
  .gitlab-ci.yml
Due: test-and-sonarqube

Use ES7 based docker image with synonyms.
  .gitlab-ci.yml
Due: test-and-sonarqube

refactor: extract methods in DAO tests, fix comment
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentHighlighter.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/DocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/rare/RareDocumentDaoWithImplicitTermsTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDaoTest.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Fix ELASTIC_VERSION expansion at docker build step.
  data/synonyms/Dockerfile
Due: build-es-synonyms-docker-image

build: simplify ci build
  .gitlab-ci.yml
Due: test-and-sonarqube

chore: use the new way of configuring the spring cloud config client
  README.md
  backend/build.gradle.kts
  backend/src/main/resources/application.yml
  backend/src/main/resources/bootstrap.yml
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: rename the data-discovery app to faidare (backend only)
  .gitlab-ci.yml
  Dockerfile
  README.md
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/AppProfile.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareAggregation.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareAggregationAnalyzer.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDao.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoCustom.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentHighlighter.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/wheatis/WheatisDocumentDao.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/data-discovery
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/FaidareApplicationTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/DocumentIndexSettings.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocumentTest.java
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/data-discovery
  backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/faidare/settings.json
  backend/src/test/resources/fr/inra/urgi/datadiscovery/harvest/rare/resourceDir/test1.json
  backend/src/test/resources/fr/inra/urgi/datadiscovery/harvest/rare/resourceDir/test2.json
  backend/src/test/resources/fr/inra/urgi/datadiscovery/harvest/wheatis/resourceDir/test1.json
  backend/src/test/resources/fr/inra/urgi/datadiscovery/harvest/wheatis/resourceDir/test2.json
  backend/src/test/resources/test-faidare.properties
  buildSrc/src/main/kotlin/app.kt
  frontend/angular.json
  frontend/proxy.conf.js
  scripts/createIndexAndAliases.sh
  scripts/createIndexAndAliases4CI.sh
  scripts/createSuggestions.sh
  scripts/harvestCI.sh
  scripts/harvestFaidare.sh
  scripts/index.sh
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

build: use circleci image
  .gitlab-ci.yml
Due: test-and-sonarqube

refactor: rename data-discovery config to faidare
  frontend/angular.json
  frontend/cypress/integration/home.spec.ts
  frontend/package.json
  frontend/src/app/data-discovery/data-discovery-header/data-discovery-header.component.ts
  frontend/src/app/faidare/faidare-header/faidare-header.component.html
  frontend/src/app/faidare/faidare-header/faidare-header.component.scss
  frontend/src/app/faidare/faidare-header/faidare-header.component.spec.ts
  frontend/src/app/faidare/faidare-header/faidare-header.component.ts
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/assets/faidare/about-en.md
  frontend/src/assets/faidare/about-fr.md
  frontend/src/assets/faidare/band.jpg
  frontend/src/assets/faidare/eula-en.md
  frontend/src/assets/faidare/eula-fr.md
  frontend/src/assets/faidare/favicon.ico
  frontend/src/assets/faidare/help-en.md
  frontend/src/assets/faidare/help-fr.md
  frontend/src/assets/faidare/join-en.md
  frontend/src/assets/faidare/join-fr.md
  frontend/src/assets/faidare/legal-en.md
  frontend/src/assets/faidare/legal-fr.md
  frontend/src/assets/faidare/logo.png
  frontend/src/assets/faidare/news-en.md
  frontend/src/assets/faidare/news-fr.md
  frontend/src/assets/faidare/theme.scss
  frontend/src/environments/environment.data-discovery.ts
  frontend/src/environments/environment.faidare.prod.ts
  frontend/src/environments/environment.faidare.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

refactor: use shared configuration in CLI
  frontend/angular.json
  frontend/cypress/integration/about.spec.ts
  frontend/package.json
  frontend/src/app/error/error.component.html
  frontend/src/environments/environment.data-discovery.ts
  frontend/src/environments/environment.rare.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.wheatis.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

data: add test faidare data
  data/faidare/INRAE-URGI_Alvis_OMTD_1.json.gz
  data/faidare/INRAE-URGI_unfiltered_AoEwM2EyMTllZjU2ZWY4ZTM2YQ.json.gz
  data/faidare/IPK_unfiltered_3.json.gz
  data/faidare/datadiscovery-17.json.gz
  data/faidare/datadiscovery-1_CIRAD.json.gz
  data/faidare/datadiscovery-1_IBET.json.gz
  data/faidare/datadiscovery-1_NIB.json.gz
  data/faidare/datadiscovery-1_VIB.json.gz
  data/faidare/suggestions/faidare_bulk_1.gz
  data/faidare/suggestions/faidare_bulk_2.gz
Due: none

fix: e2e tests
  frontend/build.gradle.kts
  frontend/cypress/integration/about.spec.ts
  frontend/cypress/integration/home.spec.ts
  frontend/package.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: lint issues
  frontend/angular.json
  frontend/src/app/faidare/faidare.module.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: add 5 additional searchable properties to Faidare document
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisDocument.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocumentTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/wheatis/WheatisDocumentTest.java
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack
