Repository Ninja-Squad/data-discovery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-es-synonyms-docker-image, build-loader-docker-image, deploy-synonyms-to-prod-cluster-proxmox, deploy-synonyms-to-dev-cluster-openstack, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack, data-integration-rare-beta-openstack, data-integration-rare-staging-openstack, data-integration-rare-prod-proxmox, data-integration-rare-prod-openstack, data-integration-brc4env-beta-openstack, data-integration-brc4env-staging-openstack, data-integration-brc4env-prod-openstack, data-integration-wheatis-beta-openstack, data-integration-wheatis-staging-openstack, data-integration-wheatis-prod-proxmox, data-integration-wheatis-prod-openstack, data-integration-data-discovery-beta-openstack, data-integration-data-discovery-staging-openstack, data-integration-data-discovery-prod-proxmox, data-integration-data-discovery-prod-openstack

build-es-synonyms-docker-image:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/docker-git:latest
  stage: pre-build
  services:
  - docker:20.10.6-dind
  script:
  - git lfs pull -I "data/synonyms"
  - cd data/synonyms
  - gzip -fd all_*.txt.gz
  ...

build-loader-docker-image:
  image: registry.forgemia.inra.fr/urgi-is/docker-rare/docker-git:latest
  stage: pre-build
  services:
  - docker:20.10.6-dind
  script:
  - docker build -t registry.forgemia.inra.fr/urgi-is/docker-rare/data-discovery-loader:${IMAGE_TAG} .
  ...

deploy-synonyms-to-prod-cluster-proxmox:
  stage: pre-build
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${ES_SSH_PRIVATE_KEY}")
  - git lfs pull -I "data/synonyms"
  - for ES_HOST in $ES_PROD_HOSTS $ES_PROD_MASTER_PROXMOX ; do scp -o StrictHostKeyChecking=no data/synonyms/all_*.gz ${SERVER_USER_PROXMOX}@${ES_HOST}:/tmp/ 2>/dev/null; done ;
  ...

deploy-synonyms-to-dev-cluster-openstack:
  stage: pre-build
  tags:
  - openstack
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${ES_SSH_PRIVATE_KEY}")
  - git lfs pull -I "data/synonyms"
  ...

test-and-sonarqube:
  stage: test
  tags:
  - openstack
  services:
  - name: registry.forgemia.inra.fr/urgi-is/data-discovery/elasticsearch-synonyms:latest
    alias: elasticsearch
    command:
    - /bin/sh
    - -c
  ...

lint:
  stage: test
  tags:
  - openstack
  script: ./gradlew :frontend:lint
  interruptible: true

build-rare:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-brc4env:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-wheatis:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

build-data-discovery:
  stage: build
  tags:
  - openstack
  script:
  - ./gradlew assemble -Papp=${APP_NAME}
  artifacts:
    paths:
    - backend/build/libs/${APP_NAME}.jar
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull-push
    paths:
    - .gradle
    - frontend/.gradle/
    - frontend/node_modules/
  ...

Fix: wheatis data files pattern for data-integration jobs. GNP-5941.
  .gitlab-ci.yml
Due: test-and-sonarqube

data: update test faidare data
  data/faidare/datadiscovery-1_CIRAD.json.gz
  data/faidare/datadiscovery-1_IBET.json.gz
  data/faidare/datadiscovery-1_NIB.json.gz
  data/faidare/datadiscovery-1_VIB.json.gz
Due: none

Apply 2 suggestion(s) to 1 file(s)
  README.md
Due: none

Change WheatIS naming. QUAL-622
  frontend/src/app/wheatis/wheatis-header/wheatis-header.component.html
  frontend/src/environments/environment.wheatis.prod.ts
  frontend/src/environments/environment.wheatis.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Change dind mtu option via DOCKER_OPTS variable.
  .gitlab-ci.yml
Due: test-and-sonarqube

Print stacktrace
  .gitlab-ci.yml
Due: test-and-sonarqube

Disable gradle daemon which break tests.
  .gitlab-ci.yml
Due: test-and-sonarqube

Increase Gradle VM memory to avoid it to crash.
  .gitlab-ci.yml
Due: test-and-sonarqube

Remove bold in DataDiscovery. QUAL-622.
  frontend/src/app/wheatis/wheatis-header/wheatis-header.component.html
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: add deprecation warnings in lint rules
  frontend/.eslintrc.json
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

doc: improve javadoc by adding a see tag
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareAggregation.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: translate 'Aucun'
  frontend/cypress/integration/home.spec.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/models/document.model.ts
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: bump versions in frontend
  frontend/package.json
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: tree component
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/app/faidare/tree/node/node.component.html
  frontend/src/app/faidare/tree/node/node.component.scss
  frontend/src/app/faidare/tree/node/node.component.ts
  frontend/src/app/faidare/tree/tree.component.html
  frontend/src/app/faidare/tree/tree.component.scss
  frontend/src/app/faidare/tree/tree.component.spec.ts
  frontend/src/app/faidare/tree/tree.component.ts
  frontend/src/app/faidare/tree/tree.service.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.ts
  frontend/src/app/urgi-common/generic-tree/generic-tree.component.ts
  frontend/src/app/urgi-common/urgi-common.module.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: ontology tree API
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/DataDiscoveryProperties.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/Ontology.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyClient.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyProperties.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/ApiResponse.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Metadata.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Method.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/OntologyApiService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Pagination.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Scale.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Trait.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/ValidValues.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Variable.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/VariablesResult.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/OntologyState.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TreeNode.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TreeNodePayload.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TreeNodeType.java
  backend/src/main/resources/application.yml
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyClientTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyControllerTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyServiceTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/api/OntologyApiServiceTest.java
  frontend/src/app/faidare/tree/node/node.component.html
  frontend/src/app/faidare/tree/tree.component.html
  frontend/src/app/faidare/tree/tree.component.spec.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/ontology.service.spec.ts
  frontend/src/app/ontology.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: ontology details endpoints
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyClient.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyQualifier.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/TraitClassIdGenerator.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Link.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/OntologiesResult.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Ontology.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/OntologyApiService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Trait.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Variable.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/OntologyDetails.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/OntologyState.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TraitClassDetails.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TraitDetails.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TreeNodeType.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/VariableDetails.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyClientTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyControllerTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyServiceTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/TraitClassIdGeneratorTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/api/OntologyApiServiceTest.java
  frontend/src/app/faidare/tree/node/node.component.scss
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/home/home.component.ts
  frontend/src/app/ontology.service.ts
  frontend/src/custom-bootstrap.scss
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: ontology i18n
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/OntologyState.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/Translations.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TreeI18n.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TreeNodePayload.java
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.spec.ts
  frontend/src/app/faidare/node-details/node-details.component.spec.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.html
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.spec.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/faidare/tree/node/node.component.ts
  frontend/src/app/faidare/tree/tree.component.spec.ts
  frontend/src/app/faidare/tree/tree.component.ts
  frontend/src/app/faidare/tree/tree.service.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/ontology.service.spec.ts
  frontend/src/app/ontology.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: ontology aggregation
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AppAggregation.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareAggregation.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/TraitDetails.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyControllerTest.java
  frontend/src/app/aggregations/aggregations.component.html
  frontend/src/app/data-discovery-ngb.module.ts
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.html
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.scss
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.spec.ts
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.ts
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/app/faidare/node-details/node-details.component.html
  frontend/src/app/faidare/node-details/node-details.component.scss
  frontend/src/app/faidare/node-details/node-details.component.spec.ts
  frontend/src/app/faidare/node-details/node-details.component.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.html
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.scss
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.spec.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/faidare/ontology-node-type/ontology-node-type.component.html
  frontend/src/app/faidare/ontology-node-type/ontology-node-type.component.scss
  frontend/src/app/faidare/ontology-node-type/ontology-node-type.component.spec.ts
  frontend/src/app/faidare/ontology-node-type/ontology-node-type.component.ts
  frontend/src/app/faidare/ontology.model.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/models/page.ts
  frontend/src/app/ontology.service.ts
  frontend/src/app/urgi-common/generic-ontology-aggregation/generic-ontology-aggregation.component.html
  frontend/src/app/urgi-common/generic-ontology-aggregation/generic-ontology-aggregation.component.scss
  frontend/src/app/urgi-common/generic-ontology-aggregation/generic-ontology-aggregation.component.ts
  frontend/src/app/urgi-common/generic-tree/generic-tree.component.ts
  frontend/src/app/urgi-common/urgi-common.module.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

test: add tests (and fix a bug)
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.html
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.spec.ts
  frontend/src/app/faidare/ontology-aggregation-modal/ontology-aggregation-modal.component.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/ontology.service.spec.ts
  frontend/src/app/ontology.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: improve the ontology aggregation, and add tests
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyControllerTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyServiceTest.java
  frontend/src/app/document-count/document-count.component.spec.ts
  frontend/src/app/documents/documents.component.spec.ts
  frontend/src/app/error/error.component.spec.ts
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.html
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.spec.ts
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.ts
  frontend/src/app/faidare/node-details/node-details.component.spec.ts
  frontend/src/app/faidare/tree/tree.component.spec.ts
  frontend/src/app/faidare/tree/tree.service.ts
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/pillars/pillars.component.spec.ts
  frontend/src/app/rare/rare-basket/rare-basket.component.spec.ts
  frontend/src/app/rare/rare-document/rare-document.component.spec.ts
  frontend/src/app/rare/rare-select-all-results/rare-select-all-results.component.spec.ts
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/src/app/truncatable-description/truncatable-description.component.spec.ts
  frontend/src/app/urgi-common/generic-document/generic-document.component.spec.ts
  frontend/src/test.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: display first synonym of variable in tree if any
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyService.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyServiceTest.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: use BrAPI consistently
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyClient.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyProperties.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/ApiResponse.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/OntologiesResult.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Ontology.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/OntologyApiService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/Variable.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/VariablesResult.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: BrAPI endpoint URL
  backend/src/main/resources/application.yml
  frontend/src/assets/faidare/join-en.md
  frontend/src/assets/faidare/join-fr.md
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: allow null or undefined check in eslint
  frontend/.eslintrc.json
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: fix lint issues
  frontend/src/app/faidare/ontology-node-type/ontology-node-type.component.spec.ts
  frontend/src/app/ontology.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

refactor: reorganize ontology service
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyService.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: remove unnecessary cast
  frontend/src/app/faidare/faidare-ontology-aggregation/faidare-ontology-aggregation.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

test: add test for ontology node type
  frontend/src/app/faidare/ontology-node-type/ontology-node-type.component.spec.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

fix: typos
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/TraitClassIdGenerator.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/api/ValidValues.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/state/OntologyState.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/ontology/OntologyClientTest.java
  frontend/src/app/faidare/tree/tree.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

refactor: use same variable
  backend/src/main/java/fr/inra/urgi/datadiscovery/ontology/OntologyClient.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: reintroduce fixme to test the tree until ontology data are available
  frontend/src/app/ontology.service.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

chore: use observableVariableIds field
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareAggregation.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocument.java
  backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/faidare/FaidareGeneticResource.mapping.json
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/domain/faidare/FaidareDocumentTest.java
  frontend/src/app/ontology.service.ts
Due: build-loader-docker-image, test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

docs: add lint in readme
  frontend/README.md
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

refactor: replace angular animations
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/search/search.component.html
  frontend/src/app/search/search.component.scss
  frontend/src/app/search/search.component.spec.ts
  frontend/src/app/search/search.component.ts
  frontend/yarn.lock
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Add triticale to list of wheat filter, else CIMMYT documents were missing. GNP-5564.
  scripts/filters/wheatis_filter.jq
Due: none

feat: hide aggregation with only NULL bucket
  frontend/cypress/integration/home.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.html
  frontend/src/app/large-aggregation/large-aggregation.component.spec.ts
  frontend/src/app/large-aggregation/large-aggregation.component.ts
  frontend/src/app/small-aggregation/small-aggregation.component.html
  frontend/src/app/small-aggregation/small-aggregation.component.spec.ts
  frontend/src/app/small-aggregation/small-aggregation.component.ts
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat(faidare): footer
  frontend/src/app/app.component.html
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.html
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.scss
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.spec.ts
  frontend/src/app/faidare/faidare-footer/faidare-footer.component.ts
  frontend/src/app/faidare/faidare.module.ts
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/assets/faidare/elixir-logo.png
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: implement germplasm export on the backend
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/faidare/FaidareConfig.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/faidare/FaidareProperties.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/config/faidare/FaidareQualifier.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/AbstractDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoCustom.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoImpl.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/ExportController.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/FaidareApiService.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/GermplasmExportCommand.java
  backend/src/main/java/fr/inra/urgi/datadiscovery/germplasm/api/GermplasmExportableField.java
  backend/src/main/resources/application.yml
  backend/src/test/java/fr/inra/urgi/datadiscovery/dao/faidare/FaidareDocumentDaoTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/germplasm/ExportControllerTest.java
  backend/src/test/java/fr/inra/urgi/datadiscovery/germplasm/api/FaidareApiServiceTest.java
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

feat: add missing news markdown page
  frontend/src/assets/faidare/news-en.md
  frontend/src/assets/faidare/news-fr.md
Due: test-and-sonarqube, lint, build-rare, build-brc4env, build-wheatis, build-data-discovery, deploy-rare-to-beta-openstack, deploy-rare-to-staging-openstack, deploy-rare-to-prod-proxmox, deploy-rare-to-prod-openstack, deploy-brc4env-to-beta-openstack, deploy-brc4env-to-staging-openstack, deploy-brc4env-to-prod-openstack, deploy-wheatis-to-beta-openstack, deploy-wheatis-to-staging-openstack, deploy-wheatis-to-prod-proxmox, deploy-wheatis-to-prod-openstack, deploy-data-discovery-to-beta-openstack, deploy-data-discovery-to-staging-openstack, deploy-data-discovery-to-prod-proxmox, deploy-data-discovery-to-prod-openstack

Path conditions:
  build-es-synonyms-docker-image: any of: data/synonyms/*
  build-loader-docker-image: any of: scripts/*, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/*/settings.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/*/*.mapping.json, backend/src/main/resources/fr/inra/urgi/datadiscovery/domain/suggestions.mapping.jso, backend/src/test/resources/fr/inra/urgi/datadiscovery/dao/settings-suggestions.json
  deploy-synonyms-to-prod-cluster-proxmox: any of: data/synonyms/all_*
  deploy-synonyms-to-dev-cluster-openstack: any of: data/synonyms/all_*
  test-and-sonarqube: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  lint: any of: backend/src/**/*, frontend/**/*
  build-rare: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-brc4env: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-wheatis: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  build-data-discovery: any of: backend/src/**/*, backend/build.gradle.kts, frontend/**/*, build.gradle.kts, docker.env
  deploy-rare-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-rare-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-brc4env-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-wheatis-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-beta-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-staging-openstack: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-proxmox: any of: backend/src/**/*, frontend/**/*
  deploy-data-discovery-to-prod-openstack: any of: backend/src/**/*, frontend/**/*
  data-integration-rare-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-proxmox: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-rare-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/rare_bulk*.json.gz, scripts/*
  data-integration-brc4env-beta-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-staging-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-brc4env-prod-openstack: any of: data/rare/*.json.gz, data/rare/suggestions/brc4env_bulk*.json.gz, scripts/*
  data-integration-wheatis-beta-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-staging-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-proxmox: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-wheatis-prod-openstack: any of: data/wheatis/*.json.gz, data/wheatis/suggestions/wheatis_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-beta-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-staging-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-proxmox: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
  data-integration-data-discovery-prod-openstack: any of: data/data-discovery/*.json.gz, data/data-discovery/suggestions/data-discovery_bulk*.json.gz, data/synonyms/all_*, scripts/*
